<%= form_for(@orden) do |f| %>
  <% if @orden.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@orden.errors.count, "error") %> prohibited this orden from being saved:</h2>

      <ul>
      <% @orden.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dni %><br>
    <%= f.text_field :dni %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :sku %><br>
    <%= f.text_field :sku %>
  </div>
  <div class="field">
    <%= f.label :medio_de_pago %><br>
    <%= f.text_field :medio_de_pago %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
