<h1>Listing ordens</h1>

<table>
  <thead>
    <tr>
      <th>Dni</th>
      <th>Password</th>
      <th>Sku</th>
      <th>Medio de pago</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ordens.each do |orden| %>
      <tr>
        <td><%= orden.dni %></td>
        <td><%= orden.password %></td>
        <td><%= orden.sku %></td>
        <td><%= orden.medio_de_pago %></td>
        <td><%= link_to 'Show', orden %></td>
        <td><%= link_to 'Edit', edit_orden_path(orden) %></td>
        <td><%= link_to 'Destroy', orden, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Orden', new_orden_path %>
