<p id="notice"><%= notice %></p>

<p>
  <strong>Dni:</strong>
  <%= @orden.dni %>
</p>

<p>
  <strong>Password:</strong>
  <%= @orden.password %>
</p>

<p>
  <strong>Sku:</strong>
  <%= @orden.sku %>
</p>

<p>
  <strong>Medio de pago:</strong>
  <%= @orden.medio_de_pago %>
</p>

<%= link_to 'Edit', edit_orden_path(@orden) %> |
<%= link_to 'Back', ordens_path %>
