<%= form_for(@inscripcion) do |f| %>
  <% if @inscripcion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inscripcion.errors.count, "error") %> prohibited this inscripcion from being saved:</h2>

      <ul>
      <% @inscripcion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  N&uacute;mero de inscripciones:
  <input type="text" id="inscripcion_numero_inscripciones" name="inscripcion[numero_inscripciones]" />

  <div class="field">
    <%= f.label :torneo_id %><br>
    <%= f.number_field :torneo_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
