<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha inscripcion:</strong>
  <%= @inscripcion.fecha_inscripcion %>
</p>

<p>
  <strong>Hora inscripcion:</strong>
  <%= @inscripcion.hora_inscripcion %>
</p>

<p>
  <strong>Estado confirmacion:</strong>
  <%= @inscripcion.estado_confirmacion %>
</p>

<p>
  <strong>Peso participacion:</strong>
  <%= @inscripcion.peso_participacion %>
</p>

<p>
  <strong>Gamer:</strong>
  <%= @inscripcion.gamer_id %>
</p>

<p>
  <strong>Torneo:</strong>
  <%= @inscripcion.torneo_id %>
</p>

<%= link_to 'Edit', edit_inscripcion_path(@inscripcion) %> |
<%= link_to 'Back', inscripcions_path %>
