<%= form_for(@datos_inscripcion_registrado) do |f| %>
  <% if @datos_inscripcion_registrado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@datos_inscripcion_registrado.errors.count, "error") %> prohibited this datos_inscripcion_registrado from being saved:</h2>

      <ul>
      <% @datos_inscripcion_registrado.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :datos_inscripcion_id %><br>
    <%= f.number_field :datos_inscripcion_id %>
  </div>
  <div class="field">
    <%= f.label :valor %><br>
    <%= f.text_field :valor %>
  </div>
  <div class="field">
    <%= f.label :inscripcion_id %><br>
    <%= f.number_field :inscripcion_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
