<h1>Listing datos_inscripcion_registrados</h1>

<table>
  <thead>
    <tr>
      <th>Datos inscripcion</th>
      <th>Valor</th>
      <th>Inscripcion</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @datos_inscripcion_registrados.each do |datos_inscripcion_registrado| %>
      <tr>
        <td><%= datos_inscripcion_registrado.datos_inscripcion_id %></td>
        <td><%= datos_inscripcion_registrado.valor %></td>
        <td><%= datos_inscripcion_registrado.inscripcion_id %></td>
        <td><%= link_to 'Show', datos_inscripcion_registrado %></td>
        <td><%= link_to 'Edit', edit_datos_inscripcion_registrado_path(datos_inscripcion_registrado) %></td>
        <td><%= link_to 'Destroy', datos_inscripcion_registrado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Datos inscripcion registrado', new_datos_inscripcion_registrado_path %>
