 <div class="marketing">
  <div class="container">
  
  <div class="row">
      <div class="text-center1">
          <div class="tile1">
            <h3>Datos requeridos para la inscripci&oacute;n del torneo</h3>
                <br/>
                <span id="mensajeError"></span>
                <%= form_for(@datos_inscripcion_registrado) do |f| %>
                  <% if @datos_inscripcion_registrado.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(@datos_inscripcion_registrado.errors.count, "error") %> No permiten registrar el torneo:</h2>

                      <ul>
                      <% @datos_inscripcion_registrado.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                      <% end %>
                      </ul>
                    </div>
                  <% end %>
                <br/>
             <div class="table-responsive">
              <table class="table table-bordered table-hover table-striped tablesorter" border="1" id="tabla_datos_inscripcion">
                <thead>
                  <tr>
                    <th class="header">Dato requerido</th>
                    <th class="header">Valor</th>                
                  </tr>
                </thead>
                <% @datos_requeridos.inscripcion.each do | dato_inscripcion | %>
                <tr>
                  <td class="TituloFormulario">
                    <%=dato_inscripcion.nombre%>
                  </td>
                  <td width="80">
                    <input type="text" />
                  </td>
                </tr>
                <% end %>
              </table> 
             </div>

           
           <div class="actions">
            <%= f.submit %>
           </div>
          <% end %>
          </div>
      </div>
  </div>

</div>
</div>
