<h1>Listing datos_inscripciones</h1>

<table>
  <thead>
    <tr>
      <th>Inscripcion</th>
      <th>Nombre dato</th>
      <th>Valor dato</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @datos_inscripciones.each do |datos_inscripcion| %>
      <tr>
        <td><%= datos_inscripcion.inscripcion_id %></td>
        <td><%= datos_inscripcion.nombre_dato %></td>
        <td><%= datos_inscripcion.valor_dato %></td>
        <td><%= link_to 'Show', datos_inscripcion %></td>
        <td><%= link_to 'Edit', edit_datos_inscripcion_path(datos_inscripcion) %></td>
        <td><%= link_to 'Destroy', datos_inscripcion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Datos inscripcion', new_datos_inscripcion_path %>
