<h1>Inscribete</h1>
  <% if !@mensaje_inscripcion.nil? %>
  <script>
  $(function() {
    $( "#dialog-confirm" ).dialog({
      modal: true,
      buttons: {
        Ok: function() {
          $( this ).dialog( "close" );
        }
      }
    });
  });
  </script>
  <div id="dialog-confirm" title="Alerta">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span><%=@mensaje_inscripcion%></p>
  </div>
  <% end %>
<%= render partial: "reutilizable/ficha_presentacion_torneo_resumido", object: @torneo, as: :torneo %>
<br/>
<span id="mensajeError"></span>
<%= form_for @inscripcion,  html: {class: "frm-registro"} do |f| %>
  <% if @inscripcion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inscripcion.errors.count, "error") %> No permiten registrar la inscripcion:</h2>
      <ul>
      <% @inscripcion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @torneo.flag_inscripciones == FLAG_INSCRIPCIONES_NO_DISPONIBLES %>
    <center><b>Proceso de inscripci&oacute;n en actualizaci&oacute;n, pero no te preocupes pronto volver&aacute; a estar disponible.</b></center>
    <br/>
    <center><a class="Enlace_detalle_registrarTorneo" href="/inscripciones?id_torneo=<%=@torneo.id%>">Ver inscritos</a><center>
  <% else %>

    <% if @torneo.flag_pago_inscripciones == 1 %>
    <label id="torneo_titulo">
    <center><b>El presente torneo cuenta con un costo de inscripci&oacute;n de $ <%=@torneo.detalle_pago_inscripcion.monto_inscripcion%> dolares americanos, el pago se realizará con paypal</b></center>
      <br/>
    </label>
      <center><img src="https://www.paypalobjects.com/webstatic/mktg/logo/AM_mc_vs_dc_ae.jpg" /></center>
    <% end %>

    <label id="torneo_titulo"><b>Nick o N&oacute;mbre del clan<b/> <input type="text" name="gamer[nick]" id="gamer_nick" value="<%=current_gamer.nick%>" size="15" maxlength="20" /></label>
    <input type='hidden' id='id_torneo' name='id_torneo' value='<%=@torneo.id%>' /> 
    <%= f.submit "Inscribirme" %>
  <% end %>
<% end %>