<h1>Inscribete</h1>
<%= render partial: "reutilizable/ficha_presentacion_torneo_resumido", object: @torneo, as: :torneo %>
<section class="Frm_Inscripcion">
  <article class="Inscripcion_distribucion_pago">
      <center><b>Costo de inscripci&oacute;n: $ 9.00 dolares,<br/> si te inscribes la bolsa aumenta a <u>$ <%= @torneo.detalle_pago_inscripcion.total_price_pool + 9.00 %></u></b></center>
       <article class="Tablas_Item"> 
           <article ><p>Distribucion de pagos</p></article>
           <article class="Tablas_Item_P"><p>Primer Lugar</p></article><article class="Tablas_Item_V" ><p>45%</p></article>
           <article class="Tablas_Item_P"><p>Segundo Lugar</p></article><article class="Tablas_Item_V" ><p>42%</p></article>
           <article class="Tablas_Item_P"><p>Tercer y cuarto Lugar</p></article><article class="Tablas_Item_V" ><p>12%</p></article>
        </article>
  </article>
 <article class="Inscripcion_pago">
      <b>Medio de pago</b>
       <center><img class="paypal" src="https://www.paypalobjects.com/webstatic/mktg/logo/AM_mc_vs_dc_ae.jpg" /></center>
    </article>
 </section>
 
 <section class="Frm_Inscripcion2">
<span id="mensajeError"></span>
<%= @mensaje_inscripcion_error if !@mensaje_inscripcion_error.nil? %>
<%= form_for @inscripcion,  html: {class: "frm-registro"} do |f| %>
  <% if @inscripcion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inscripcion.errors.count, "error") %> No permiten registrar la inscripcion:</h2>
      <ul>
      <% @inscripcion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br/>

  <% if @torneo.juego.id == ID_JUEGO_HOTS %>
    <%= render partial: "reutilizable/ficha_inscripcion_hots", object: @torneo, as: :torneo %>
  <% end %>
  <input type='hidden' id='id_torneo' name='id_torneo' value='<%=@torneo.id%>' /> 
    <%= f.submit "Inscribirme" %>
    <% end %>
  </article>
</section>   