<h1>Inscribete</h1>
        <br/>
<span id="mensajeError"></span>
<%= form_for @inscripcion,  html: {class: "frm-registro"} do |f| %>
  <% if @inscripcion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inscripcion.errors.count, "error") %> No permiten registrar la inscripcion:</h2>

      <ul>
      <% @inscripcion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<label id="torneo_titulo"><b>Titulo del torneo:</b> <%=@torneo.titulo%></label>
<br/>
<br/>
<label id="torneo_paginaweb"><b>P&aacute;gina web del torneo:</b> <%=@torneo.paginaweb%></label>
</br>
</br>
<label id="cuadro_de_juegos"><b>Juego:</b> <%=@torneo.juego.nombre%>
</br>
</br>
<label id="cuadro_de_vacantes"><b>Vacantes: </b><%=@torneo.vacantes%></label>
<br>
<br>
<label id="Fecha_inscripcion"><b>Fecha cierre inscripci&oacute;n:</b> <%= @torneo.cierre_inscripcion.strftime("%d/%m/%Y %I:%M %p") %></label>
<br>
<br>
<label id="torneo_titulo"><b>Nick o N&oacute;mbre del clan<b/> <input type="text" name="gamer[nick]" id="gamer_nick" value="<%=current_gamer.nick%>" size="15" maxlength="20" /></label>
<input type='hidden' id='id_torneo' name='id_torneo' value='<%=@torneo.id%>' /> 
<%= f.submit "Inscribirme" %>
<% end %>