  <div class="container">
    <div class="row">
        <div >
            <div class="tile">

                <span id="mensajeError"></span>

                  <%= form_for(@inscripcion) do |f| %>

                    <% if @inscripcion.errors.any? %>
                      <div id="error_explanation">
                        <h2><%= pluralize(@inscripcion.errors.count, "error") %> para inscripci&oacute;n</h2>

                        <ul>
                        <% @inscripcion.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                        <% end %>
                        </ul>
                      </div>
                    <% end %>

                    <div id="tipo_generacion" class="ui-buttonset">
                      <input type='hidden' id='id_torneo' name='id_torneo' value='<%=@torneo.id%>' /> 
                      <center> <%= f.submit "Inscribirme" %></center>
                    </div>  

                  <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped tablesorter" border="1" id="tabla_datos_inscripcion">
                      <thead>
                        <tr>
                          <th class="header">Dato requerido</th>
                          <th class="header">Valor</th>                
                        </tr>
                      </thead>
                      <tr>
                        <td class="TituloFormulario">Nick o nombre de equipo</td>
                        <td><input type="text" name="gamer[nick]" value="<%=current_gamer.nick%>" /></td>
                      </tr>
                      <% contador = 0 %>
                      <% @datos_requeridos.each do | dato_inscripcion | %>                      
                      <tr>
                        <td class="TituloFormulario">
                          <%=dato_inscripcion.nombre%>
                        </td>
                        <td width="80">
                          <input type="text" name="datos_inscripcion_registrado<%= contador.to_s %>[valor]" />
                          <input type="hidden" name="datos_inscripcion_registrado<%= contador.to_s %>[datos_inscripcion_id]" value="<%=dato_inscripcion.id%>" />
                        </td>
                      </tr>
                      <% contador += 1 %>
                      <% end %>
                    </table> 
                   </div>
                  <% end %>
        </div>
    </div>
  </div>

<script type="text/javascript">
  $( "#tipo_generacion" ).buttonset();
</script>  