<h1>Inscribete</h1>
<%= render partial: "reutilizable/ficha_presentacion_torneo_resumido", object: @torneo, as: :torneo %>
<section class="Frm_Inscripcion">
  <article class="Inscripcion_pago">
    <center><b>Costo de inscripci&oacute;n: $ 9.00 dolares,<br/> si te inscribes la bolsa aumenta a <u>$ <%= @torneo.detalle_pago_inscripcion.total_price_pool + 9.00 %></u></b></center>
    <br/>
    <table class="Detalle_rondas">
    <thead>
      <tr >
        <th colspan="2" class="header" >Distribuci&oacute;n de la bolsa de premio</th>
      </tr>
    </thead>
      <tbody id="torneosPortada">        
          <tr>
            <td>Primer Lugar</td>
            <td>45 %</td>
          </tr>
          <tr>
            <td>Segundo Lugar</td>
            <td>25 %</td>
          </tr>
          <tr>
            <td>Tercer y Cuarto Lugar</td>
            <td>12 %</td>
          </tr>        
      </tbody>
    </table>
  </article>
  <article class="Inscripcion_pago">
      <center><b>Medio de pago</b></center><br/>
       <center><img src="https://www.paypalobjects.com/webstatic/mktg/logo/AM_mc_vs_dc_ae.jpg" /></center>      
  </article>
  <article class="Inscripcion_datos">
  <span id="mensajeError"></span>
  <%= form_for @inscripcion,  html: {class: "frm-registro"} do |f| %>
  <% if @inscripcion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inscripcion.errors.count, "error") %> No permiten registrar la inscripcion:</h2>
      <ul>
      <% @inscripcion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br/>

  <% if @torneo.juego.id == ID_JUEGO_HOTS %>
    <%= render partial: "reutilizable/ficha_inscripcion_hots", object: @torneo, as: :torneo %>
  <% end %>


  <input type='hidden' id='id_torneo' name='id_torneo' value='<%=@torneo.id%>' /> 
    <%= f.submit "Inscribirme" %>
    <% end %>
  </article>
</section>


