<section class="FrmRegistrarTorneo">
  <h1>Lista de inscritos</h1>
  <% if @inscripciones.size == 0 %>
    <h1>A&uacute;n no se cuenta con inscripciones</h1>
  <% else %>

  <% if !@mensaje_inscripcion.nil? %>
  <script>
  $(function() {
    $( "#dialog-confirm" ).dialog({
      modal: true,
      buttons: {
        Ok: function() {
          $( this ).dialog( "close" );
        }
      }
    });
  });
  </script>
  <div id="dialog-confirm" title="Inscripción confirmada">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span><%=@mensaje_inscripcion%></p>
  </div>
  <% end %>
  <br/>
  <%= render partial: "reutilizable/ficha_presentacion_torneo_resumido", object: @torneo, as: :torneo %>
  <br/>
  <table class="Detalle_rondas" >
      <thead>
        <tr>
          <th class="header">Orden</th>
          <th class="header">Nick / Nombre Equipo</th>
          <th class="header">Fecha Inscripci&oacute;n</th>
          <th class="header">Estado</th>
          <th class="header">Accion</th>
        </tr>
      </thead>
      <tbody id="rondas">
      <% posicion=1 %>
      <% @inscripciones.each do |inscripcion| %>
        <tr>
          <td><%= posicion %></td>
          <td><%= inscripcion.nick %></td>
          <td><%= inscripcion.created_at.strftime("%d/%m/%Y %I:%M %p") %></td>
          <td><%= inscripcion.estado %></td>
          <td>
            <% if inscripcion.torneo.gamer == current_gamer || current_gamer == inscripcion.gamer  %>
              <a class="Enlace_torneosDisponibles" href="/inscripciones/<%=inscripcion.id%>/eliminar">Retirar</a>
            <% end %>
          </td>
        </tr>
        <% posicion+=1 %>
        <% end %>
      </tbody>
    </table> 
    <% end %>
    <br/>
      <center>
        <% if @mensaje_inscripcion.nil? %>
          <a class="Enlace_detalle_registrarTorneo" href="javascript:goBack();">Volver</a></center>
        <% else %>
          <a class="Enlace_detalle_registrarTorneo" href="/">Volver</a>
        <% end %>
      </center>
    <br/>
</section>
