<section class="FrmRegistrarTorneo">
  <h1>Lista de inscritos</h1>
  <% if @inscripciones.size == 0 %>
    <h1>A&uacute;n no se cuenta con inscripciones</h1>
  <% else %>

  <% if !@mensaje_inscripcion.nil? %>
  <script>
  $(function() {
    $( "#dialog-confirm" ).dialog({
      modal: true,
      buttons: {
        Ok: function() {
          $( this ).dialog( "close" );
        }
      }
    });
  });
  </script>
  <div id="dialog-confirm" title="Inscripción confirmada">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span><%=@mensaje_inscripcion%></p>
  </div>
  <% end %>
  <br/>
  <%= render partial: "reutilizable/ficha_presentacion_torneo_resumido", object: @torneo, as: :torneo %>
  <br/>


 
  <Section class="Lista_Inscritos" >
      
  <article class="lista_Inscritos_contenido">
    
      <% posicion=1 %>
          <% @inscripciones.each do |inscripcion| %>
       
         <article class = "Lista_Inscritos_Item">

           <article>
           <img class="Lista_Inscritos_item_UsFb"src="Usfb.png" alt="Logofacebook">
           </article>

            <article>
            <b class="Lista_Inscritos_item_nick"> <%= inscripcion.nick %>, inscrito el dia 10/06/2015  </b>
            </article>

            <article>
             <% if inscripcion.estado == "Inscrito" %>
                 <button class="Lista_Inscritos_item_estado_button"><b><%= inscripcion.estado %></b></button>
            <% else%>
                   <button class="Lista_Inscritos_item_estado_button_confirmado"><b><%= inscripcion.estado %></b></button>
               
           <% end%>

            </article>

            <!--
            <article>
            <b class="Lista_Inscritos_item_accion"><% if (inscripcion.torneo.gamer == current_gamer || current_gamer == inscripcion.gamer) && inscripcion.torneo.flag_pago_inscripciones == 0  %>
                 <a class="Enlace_torneosDisponibles" href="/inscripciones/<%=inscripcion.id%>/eliminar">Retirar</a>
                <% end %></b>
              </article>
           -->

         </article> 
           <% posicion+=1 %>
           <% end %>
      <% end %>
    <br/>

  </article>
  </section>


      <center>
        <% if @mensaje_inscripcion.nil? %>
          <a class="Enlace_detalle_registrarTorneo" href="javascript:goBack();">Volver</a></center>
        <% else %>
          <a class="Enlace_detalle_registrarTorneo" href="/">Volver</a>
        <% end %>
      </center>
    <br/>
</section>
