<section class="FrmRegistrarTorneo">
  <h1>Lista de inscritos</h1>
  <% if @inscripciones.size == 0 %>
    <h1>A&uacute;n no se cuenta con inscripciones</h1>
  <% else %>
  <label id="torneo_titulo"><b>Titulo del torneo:</b> <%=@inscripciones[0].torneo.titulo%></label>
  <br/>
  <br/>
  <label ><b><%=@mensaje_inscripcion%></b></label>
  <br/>
  <br/>
  <table class="Detalle_rondas" >
      <thead>
        <tr>
          <th class="header">Orden</th>
          <th class="header">Nick / Nombre Equipo</th>
          <th class="header">Fecha Inscripci&oacute;n</th>
          <th class="header">Estado</th>
          <th class="header">Accion</th>
        </tr>
      </thead>
      <tbody id="rondas">
      <% posicion=1 %>
      <% @inscripciones.each do |inscripcion| %>
        <tr>
          <td><%= posicion %></td>
          <td><%= inscripcion.gamer.nick %></td>
          <td><%= inscripcion.created_at.strftime("%d/%m/%Y %I:%M %p") %></td>
          <td><%= inscripcion.estado %></td>
          <% if inscripcion.torneo.gamer == current_gamer || current_gamer == inscripcion.gamer  %>
            <td><a class="Enlace_torneosDisponibles" href="/inscripciones/<%=inscripcion.id%>/eliminar">Retirar</a></td>
          <% end %>
        </tr>
        <% posicion+=1 %>
        <% end %>
      </tbody>
    </table> 
    <% end %>
    <br/>
      <center><a class="Enlace_detalle_registrarTorneo" href="javascript:goBack();">Volver</a></center>
    <br/>
</section>



