<section class="FrmRegistrarTorneo">
  <%= @inscripcion.mensaje_inscripcion %>
  <%= render partial: "reutilizable/ficha_presentacion_torneo_resumido", object: @torneo, as: :torneo %>
  <% if !@current_gamer.esta_inscrito_o_confirmado(@torneo) %>
    <center><a  href="/inscripciones/new/<%=@torneo.id%>"><button class="link_button" type="button">Inscribirme al torneo</button></a></center>
  <% end %>
  

      <center>
        <% if @mensaje_inscripcion.nil? %>
          <a class="Enlace_detalle_registrarTorneo" href="javascript:goBack();">Volver</a></center>
        <% else %>
          <a class="Enlace_detalle_registrarTorneo" href="/">Volver</a>
        <% end %>
      </center>
    <br/>
</section>

<div class="container">
   <h2>Listas de Inscritos</h2>
      <div class="card-services-dt3">

        <article class="card home-service-dt3" style="height: 201px">
          <img class="LogoEquipo" src="<%= image_path("Team.png") %>" alt="Team" height="100px" with="100px"></img>
            <article class="Team">FKC Vultures</article>
              <article class="IntegrantesTeam">
                <table class="Table_Detalle_Team">
                  <thead>
                    <tr>
                    <th class="Team_encabezado"><label id="torneo_titulo_dt3"><b>Battle tag del capitan</b> </label></th>
                    <th class="Team_contenido">KyO#1500</th>
                    </tr>
                    <tr>
                    <th class="Team_encabezado"><label id="cuadro_de_juegos"><b>Battle tag Titular 1:</b></label></th>
                    <th class="Team_contenido">Neo#11317</th>
                    </tr>
                    <tr>
                    <th class="Team_encabezado"><label id="cuadro_de_juegos"><b>Battle tag Titular 2:</b></label></th>
                    <th class="Team_contenido">Neo#11317</th>
                    </tr>
                    <tr>
                    <th class="Team_encabezado"><label id="cuadro_de_juegos"><b>Battle tag Titular 3:</b></label></th>
                    <th class="Team_contenido">Neo#11317</th>
                    </tr>
                    <tr>
                    <th class="Team_encabezado"><label id="cuadro_de_juegos"><b>Battle tag Titular 4:</b></label></th>
                    <th class="Team_contenido">Neo#11317</th>
                    </tr>
                  </thead>
                </table>
              </article>
            </article>

        <article class="card home-service-dt3" style="height: 201px">
            <img class="LogoEquipo" src="<%= image_path("Team.png") %>" alt="Team"  height="100px" with="100px"></img>
              <article class="Team">FKC Vultures</article>
                <article class="IntegrantesTeam">
                    <table class="Table_Detalle_Team">
                      <thead>
                       <tr>
                       <th class="Team_encabezado"><label id="torneo_titulo_dt3"><b>Battle tag del capitan</b> </label></th>
                       <th class="Team_contenido">KyO#1500</th>
                       </tr>
                       <tr>
                       <th class="Team_encabezado"><label id="cuadro_de_juegos"><b>Battle tag Titular 1:</b></label></th>
                       <th class="Team_contenido">Neo#11317</th>
                       </tr>
                       <tr>
                       <th class="Team_encabezado"><label id="cuadro_de_juegos"><b>Battle tag Titular 2:</b></label></th>
                       <th class="Team_contenido">Neo#11317</th>
                       </tr>
                       <tr>
                       <th class="Team_encabezado"><label id="cuadro_de_juegos"><b>Battle tag Titular 3:</b></label></th>
                       <th class="Team_contenido">Neo#11317</th>
                       </tr>
                       <tr>
                       <th class="Team_encabezado"><label id="cuadro_de_juegos"><b>Battle tag Titular 4:</b></label></th>
                       <th class="Team_contenido">Neo#11317</th>
                       </tr>
                      </thead>
                    </table>
                  </article>
              </article>

        <article class="card home-service-dt3" style="height: 201px">
            <img class="LogoEquipo" src="<%= image_path("Team.png") %>" alt="Team" height="100px" with="100px"></img>
              <article class="Team">FKC Vultures</article>
                <article class="IntegrantesTeam">
                    <table class="Table_Detalle_Team">
                      <thead>
                       <tr>
                       <th class="Team_encabezado"><label id="torneo_titulo_dt3"><b>Battle tag del capitan</b> </label></th>
                       <th class="Team_contenido">KyO#1500</th>
                       </tr>
                       <tr>
                       <th class="Team_encabezado"><label id="cuadro_de_juegos"><b>Battle tag Titular 1:</b></label></th>
                       <th class="Team_contenido">Neo#11317</th>
                       </tr>
                       <tr>
                       <th class="Team_encabezado"><label id="cuadro_de_juegos"><b>Battle tag Titular 2:</b></label></th>
                       <th class="Team_contenido">Neo#11317</th>
                       </tr>
                       <tr>
                       <th class="Team_encabezado"><label id="cuadro_de_juegos"><b>Battle tag Titular 3:</b></label></th>
                       <th class="Team_contenido">Neo#11317</th>
                       </tr>
                       <tr>
                       <th class="Team_encabezado"><label id="cuadro_de_juegos"><b>Battle tag Titular 4:</b></label></th>
                       <th class="Team_contenido">Neo#11317</th>
                       </tr>
                      </thead>
                    </table>
                  </article>
        </article>
      </div>
 </div>