<input type="hidden" name="nombre_chat" id="nombre_chat" value="<%=current_gamer.etiqueta_para_chat(@torneo) %>" />
  <input type="hidden" name="torneo_id" id="torneo_id" value="<%=@torneo.id %>" />
<% if current_gamer.esta_confirmado(@torneo) %>  
  <input type="hidden" name="flag_gamer_confirmado" id="flag_gamer_confirmado" value="<%=current_gamer.esta_confirmado(@torneo) %>" />
<% end %>
<br/>
<br/>
<article id="tabs_chat">
  <article id="tabs_chat-1">
    <div class="span9">
      <div id="chat" class="well" data-uri="<%= request.host %>:<%= request.port %>/websocket">
        <% if !@chats.nil? %>
          <% @chats.each do | chat | %>
            <div class="message" >
              <label class="label label-info">
                [<%=chat.received%>] <%=chat.user_name%>
              </label>&nbsp;
              <%=chat.msg_body%>
            </div>
          <% end %>
        </div>
        <% if @current_gamer.esta_confirmado(@torneo) %>
          <div class="form-inline well">
            <fieldset class="PostMessage">
              <input type="hidden" class="input-medium" id="user_name" >
              <input type="text" class="input-xlarge" id="message">
              <button id="send" class="btn btn-primary">Send</button>
            </fieldset>
          </div>
        <% end %>
      <% end %>
    </div>
  </article> 

</article>