  <article class="Detalle_torneo">
  
         <img src="/assets/destacado_ligamagma_hots-f3b323190314139b64ee4e8dc3b7e26d.png">

  <!--<label class ="MostrarTorneo_datos" id="torneo_id"><b>Id del torneo:</b> <span id="id_torneo_registrado"><%=torneo.id %></span></label>
  <br/>-->

        <article class="infoTorneo">

        <label class ="MostrarTorneo_datos" id="torneo_titulo"><!--<b>Titulo del torneo:</b>--> <%=torneo.titulo%></label>
       
         <label class ="MostrarTorneo_datos" id="cuadro_de_juegos"><b>Juego: <br><%=torneo.juego.nombre%></b>
         </label>

        <label class ="MostrarTorneo_datos" id="cuadro_de_vacantes"><b>Vacantes:<br> <%=torneo.vacantes%></b></label>
       
       
        <label class ="MostrarTorneo_datos" id="Fecha_inscripcion"><b>Fecha cierre inscripci&oacute;n:<br> <%= torneo.cierre_inscripcion.strftime("%d/%m/%Y %I:%M %p") %></b></label>
       
         <!--!<div  class="fb-post" data-href="<%=torneo.post_detalle_torneo%>" ></div> -->
        <br/>
        </article>
      </article>