<article id="ContenidoTorneo">
  <img  src="<%= image_path("versus.jpg") %>" alt="Encuentro">
  <article>
  <h2><%= torneo.titulo %></h2>
    <p><b><%= torneo.juego.nombre %></b>, m&aacute;ximo <b><%= torneo.vacantes %> slots.</b></br>
    La confirmaci&oacute;n cierra en: <b>
    <% if TorneosHelper.debe_mostrar_contador_estatico(torneo.inicio_fecha_hora_confirmacion) %>
      <%= TorneosHelper.formato_cuenta_regresiva(torneo.inicio_fecha_hora_confirmacion) %>
    <% else %>
      <b class="contador" id='countdown_<%=torneo.id%>'></b>
    <% end %>
    </b>, Para confirmar da click <b><a id="link_inscripcion_torneo_<%=torneo.id%>" href="/inscripciones/confirmar/<%=torneo.id%>">aqu&iacute;</a></b>
    </p>
    <script type="text/javascript">
      generarContadorPorTorneo('<%=torneo.id%>', new Date(<%= torneo.inicio_fecha_hora_confirmacion.to_i * 1000 %>));
    </script>
  </article>
</article>