
<br/>
<%= render partial: "reutilizable/ficha_presentacion_torneo", object: @torneo, as: :torneo %>
<br/>
<h1>Lista de inscritos</h1>
    <table class="Detalle_rondas" >
      <thead>
        <tr>
          <th class="header">Orden</th>
          <th class="header">Nick / Nombre Equipo</th>
          <th class="header">Fecha Inscripci&oacute;n</th>
          <th class="header">Estado</th>
        </tr>
      </thead>
      <tbody id="rondas">
      <% posicion=1 %>
      <% torneo.inscripciones.each do |inscripcion| %>
        <tr>
          <td><%= posicion %></td>
          <td><%= inscripcion.gamer.nick %></td>
          <td><%= inscripcion.created_at.strftime("%d/%m/%Y %I:%M %p") %></td>
          <td><%= inscripcion.estado %></td>
        </tr>
        <% posicion+=1 %>
        <% end %>
      </tbody>
    </table> 