<article id="ContenidoTorneo">
   <img  src="<%= image_path(torneo.juego.nombre_imagen) %>" >
    <article>
      <h2 ><a  href="/torneos/<%= torneo.id %>">ppppp<%= torneo.titulo %></a></h2>
      <br>
      <p>M&aacute;ximo <b><%= torneo.vacantes %> slots.</b></br>
      Las incripciones cierran en: <b>
      <% if TorneosHelper.debe_mostrar_contador_estatico(torneo.cierre_inscripcion) then %>  
                        <%= TorneosHelper.formato_cuenta_regresiva(torneo.cierre_inscripcion) %>
                      <% else %>
                        <b class="contador" id='countdown_<%=torneo.id%>'></b>
                      <% end %>
                      </b>, inscribete dando click <b><a class="Enlace_torneosDisponibles" id="link_inscripcion_torneo_<%=torneo.id%>" href="/inscripciones/new/<%=torneo.id%>">aqu&iacute;</a></b>
                    </p>
                    <script type="text/javascript">
                      generarContadorPorTorneo('<%=torneo.id%>', new Date(<%= torneo.cierre_inscripcion.to_i * 1000 %>));
                    </script>
    </article>

     <article class="PricePool">
          <p>PricePool:$24</p>
          <br>
          <br>
          <p>Inscribete para aumentarlo<p>
        </article>


</article>