<h1>Listing prueba2s</h1>

<table>
  <thead>
    <tr>
      <th>Estado</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @prueba2s.each do |prueba2| %>
      <tr>
        <td><%= prueba2.estado %></td>
        <td><%= link_to 'Show', prueba2 %></td>
        <td><%= link_to 'Edit', edit_prueba2_path(prueba2) %></td>
        <td><%= link_to 'Destroy', prueba2, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prueba2', new_prueba2_path %>
