<%= form_for(@juego) do |f| %>
  <% if @juego.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@juego.errors.count, "error") %> prohibited this juego from being saved:</h2>

      <ul>
      <% @juego.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_field :descripcion %>
  </div>
  <div class="field">
    <%= f.label :asociado_id %><br>
    <%= f.number_field :asociado_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
