<script type="text/javascript">

    $(function() {
      $( "#cuadro_de_vacantes" ).buttonset();
    });

    $(function() {
      $( "#cuadro_de_juegos" ).buttonset();
    });


    

    function reemplazarCon(cadena,key,value) {
      var s = cadena;
      var reg = new RegExp("\\{" + key + "\\}", "gm");             
        s = s.replace(reg, value);
        return s;
    }

    
function cargarRegistroDeRondas(vacantes){
   $("#rondas").find("tr").remove();
  var numeroRondas=Math.log(vacantes) / Math.log(2);

 
  for (var i=0;i<numeroRondas;i++){
     var rowTemplate = "<tr><td>{0}</td><td><input type='hidden' id='ronda{7}_numero' name='ronda{7}[numero]' value='{7}' /> <input type='text' id='{1}' name='{2}' class='string required form-control input-lg datepicker' placeholder='dd/mm/yyyy' value='{8}' {10} /> </td><td><input type='text' id='{3}' name='{4}' class='string required form-control input-lg' placeholder='hh:mm AM/PM' value='{9}' {10} /></td><td><select id='{5}' name='{6}' class='string required form-control input-lg' ><option value='1'>Mejor de 1</option><option value='3'>Mejor de 3</option><option value='5'>Mejor de 5</option></select></td></tr>";
    contador=i+1;
    rowTemplate = reemplazarCon(rowTemplate,0,"Ronda "+contador);
    rowTemplate = reemplazarCon(rowTemplate,1,"ronda"+contador+"_inicio_fecha");
    rowTemplate = reemplazarCon(rowTemplate,2,"ronda"+contador+"[inicio_fecha]");
    rowTemplate = reemplazarCon(rowTemplate,3,"ronda"+contador+"_inicio_tiempo");
    rowTemplate = reemplazarCon(rowTemplate,4,"ronda"+contador+"[inicio_tiempo]");
    rowTemplate = reemplazarCon(rowTemplate,5,"ronda"+contador+"_modo_ganar");
    rowTemplate = reemplazarCon(rowTemplate,6,"ronda"+contador+"[modo_ganar]");
    rowTemplate = reemplazarCon(rowTemplate,7,contador);
 
    rowTemplate = reemplazarCon(rowTemplate,8,"");
    rowTemplate = reemplazarCon(rowTemplate,9,"");
    rowTemplate = reemplazarCon(rowTemplate,10,"");
    $("#rondas").append(rowTemplate);      
    $( "#ronda"+contador+"_inicio_fecha" ).datepicker({ dateFormat: "dd/mm/yy" });
    
    $("#ronda"+contador+"_inicio_tiempo").timepicker({
        showPeriod: true,
        showLeadingZero: true
    });
  }      

}

</script>
<span id="mensajeError"></span>
<%= form_for(@torneo) do |f| %>
  <% if @torneo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@torneo.errors.count, "error") %> No permiten registrar el torneo:</h2>

      <ul>
      <% @torneo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table class="FRM_Registro" border=0 >
  <td class="TituloFormulario">Titulo del torneo</td>
      <td width=100>
<!--Moviendo los inputs titulo y pagina web a una tabla-->
    <input id="torneo_titulo" class="string required form-control input-DatosForm" placeholder="Título de tu torneo" type="text" name="torneo[titulo]" maxlength="200" value="<%=@torneo.titulo%>" />
    <input id="torneo_estado" type="hidden" name="torneo[estado]" value="Creado" />
    </td>


   
    <tr>
    <td height=10></td>
    <td height=10></td>
    <tr>
      <td class="PaginaWeb">Pagina web del torneo</td>

      <td width=100>

        <input id="torneo_paginaweb"  class="string required form-control input-DatosForm" placeholder="Link de tu p&aacute;gina, fanpage, o foro con el detalle de tu torneo" type="text" name="torneo[paginaweb]" maxlength="200" value="<%=@torneo.paginaweb%>" />
      </td>

      <tr>
<td height=10></td>
    <td height=10></td>
    <tr>
        <td class="SeleccionJuego">Seleccione el juego</td>

           <td class="CuadroJ" id="cuadro_de_juegos">

        <% 
              Juego.all.each do | juego | %>   
                <input type="radio" id='juego_<%=juego.id%>' name='juego[id]' value="<%=juego.id%>" checked='checked'>
                <label for="juego_<%=juego.id%>"><%= juego.nombre %></label>
              
                <br/>
               
              <% end %>

           </td>
<tr>
  <td height=10></td>
    <td height=10></td>
    <tr>
  <td class="Vacantes">Vacantes</td>
  <td class="CuadroV" id="cuadro_de_vacantes">
       <input type="radio" id='torneo_vacantes1' name='torneo[vacantes]' value="4" onclick="javascript:cargarRegistroDeRondas(4)"
      <% if @torneo.vacantes == 4 then %> checked='checked'  <% end %> /><label for="torneo_vacantes1">4</label> 
      <input type="radio" id="torneo_vacantes2" name='torneo[vacantes]' value="8" onclick="javascript:cargarRegistroDeRondas(8)" 
      <% if @torneo.vacantes == 8 then %> checked='checked'  <% end %> /><label for="torneo_vacantes2">8</label>
      <input type="radio" id="torneo_vacantes3" name='torneo[vacantes]' value="16" onclick="javascript:cargarRegistroDeRondas(16)"
      <% if @torneo.vacantes == 16 then %> checked='checked'  <% end %> /><label for="torneo_vacantes3">16</label>
      <input type="radio" id="torneo_vacantes4" name='torneo[vacantes]' value="32" onclick="javascript:cargarRegistroDeRondas(32)"
      <% if @torneo.vacantes == 32 then %> checked='checked'  <% end %> /><label for="torneo_vacantes4">32</label>
    </td>


   <tr>
    <td height=10></td>
    <td height=10></td>
    <tr>

<td class="FechCierre">Fecha cierre inscripci&oacute;n</td>

<td align="Left" id="cuadro_tiempo_inicio_torneo">
      <% if @torneo.cierre_inscripcion_fecha.nil? || @torneo.cierre_inscripcion_tiempo.nil? %>      
        <input type="text" id="torneo_cierre_inscripcion_fecha" name='torneo[cierre_inscripcion_fecha]' class="string required form-control input-lg-InsFEc datepicker" placeholder="Fecha inicio check-in"  value="" />   
        <table border=0>
        <td class= "HCierre">Hora de cierre</td>
        <td class="Cuadrocierre">   
        <input type="text" id="torneo_cierre_inscripcion_tiempo"  name='torneo[cierre_inscripcion_tiempo]' class="string required form-control input-lg-InsT1" placeholder="Hora Inicio check-in"  value="" />
        <td/>
      </table>
      <% else %>
         <input type="text" id="torneo_cierre_inscripcion_fecha" name='torneo[cierre_inscripcion_fecha]' class="string required form-control input-lg-InsFEc datepicker" placeholder="Fecha inicio check-in"  value="<%= @torneo.cierre_inscripcion_fecha.strftime("%d/%m/%Y") %>" />     
           <table border=0>
  <td class= "HCierre">Hora de cierre</td>
        <td class="Cuadrocierre">  
        <input type="text" id="torneo_cierre_inscripcion_tiempo"  name='torneo[cierre_inscripcion_tiempo]' class="string required form-control input-lg-InsT1" placeholder="Hora Inicio check-in"  value="<%= @torneo.cierre_inscripcion_tiempo.strftime("%I:%M %p") %>" />   
         <td/>
      </table>     
      <% end %>  
    </td>
    <tr>
      <td height=10></td>
    <td height=10></td>
    <tr>
      <td class="Pconfirmacion">Periodo de confirmaci&oacute;n</td>
      <td id="cuadro_de_confirmacion">
        
        <select id='torneo_periodo_confirmacion_en_minutos' name='torneo[periodo_confirmacion_en_minutos]' class='string required form-control input-lg-Periodo' >
          <option value='0'>Sin confirmaci&oacute;n</option>          
          <option <% if @torneo.periodo_confirmacion_en_minutos == 10 then %> selected <% end %>value='10'>10 minutos antes de cerrar inscripci&oacute;n</option>
          <option <% if @torneo.periodo_confirmacion_en_minutos == 20 then %> selected <% end %>value='20'>20 minutos antes de cerrar inscripci&oacute;n</option>
          <option <% if @torneo.periodo_confirmacion_en_minutos == 30 then %> selected <% end %>value='30'>30 minutos antes de cerrar inscripci&oacute;n</option>
        </select>

      </td>
      <tr>
        <td height=10></td>
    <td height=10></td>
    <tr>
    

</table>


<!-- Retirado, para que encaje en la tabla

  <div class="field">
    <div class="labelFormulario">Juego</div>    -->
   
  <!--  <div class="field">-->
   <!-- <label class="labelFormulario">Vacantes</label>    -->
   <!-- <div id="cuadro_de_vacantes">-->
    
   <!-- </div>-->
  <!--</div>-->
<!--  <div class="field">-->
    <!--
    <label class="labelFormulario">Fecha cierre inscripci&oacute;n </label>-->
    
 <!--</div>  -->

 <!-- <div class="field">
    <label class="labelFormulario">Periodo de confirmaci&oacute;n</label>-->
     <!-- <div 

      </div>
  </div>  

  <br/>-->
  <h4 class="text-center">Fecha de Rondas y modo de ganar</h4>

   <div class="field">
      <table class="table table-bordered table-hover tablesorter">
      <thead>
        <tr>
          <th class="header1">Ronda</td>
          <th class="header2">Fecha de inicio</td>
          <th class="header3">Hora de inicio</td>
          <th class="header">Modo de ganar</td>
        </tr>
      </thead>
      <tbody id="rondas">
        <% @torneo.rondas.each do | ronda | %>
        <tr>
          <td align="Center"><%=ronda.numero%></td>
          <td align="Center"><input type='hidden' id='ronda<%=ronda.numero%>_numero' name='ronda<%=ronda.numero%>[numero]' value='<%=ronda.numero%>' /> 
            <input type='text' id='ronda<%=ronda.numero%>_inicio_fecha' name='ronda<%=ronda.numero%>[inicio_fecha]' class='string required form-control input-lg-inFec datepicker1' placeholder='dd/mm/yyyy' value='<%=ronda.inicio_fecha.strftime("%d/%m/%Y")%>'  /> 
          </td>
          <td align="Center"><input type='text' id='ronda<%=ronda.numero%>_inicio_tiempo' name='ronda<%=ronda.numero%>[inicio_tiempo]' class='string required form-control input-lg-inTi' placeholder='hh:mm AM/PM' value='<%=ronda.inicio_tiempo.strftime("%I:%M %p")%>' />
          </td>
          <td align="Center">
            <select id='ronda<%=ronda.numero%>_modo_ganar' name='ronda<%=ronda.numero%>[modo_ganar]' class='string required form-control input-lg' >
              <option <% if ronda.modo_ganar == 1 then %> selected="true" <% end %> value='1'>Mejor de 1</option>
              <option <% if ronda.modo_ganar == 3 then %> selected="true" <% end %> value='3'>Mejor de 3</option>
              <option <% if ronda.modo_ganar == 5 then %>  selected="true" <% end %> value='5'>Mejor de 5</option>
            </select>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
   </div>
   <div class="field">

   </div>
     <div id="tipo_generacion" class="ui-buttonset">
      <center> <%= f.submit "Registrar Torneo" %></center>
     </div>   
  </div>

<% end %>
<script type="text/javascript">
  
  $( "#tipo_generacion" ).buttonset();

  $("#torneo_cierre_inscripcion_tiempo").timepicker({
        showPeriod: true,
        showLeadingZero: true
  });
  $( "#torneo_cierre_inscripcion_fecha" ).datepicker({ dateFormat: "dd/mm/yy" });

</script>