<script type="text/javascript">

    $(function() {
      $( "#vacantes" ).buttonset();
    });

    $(function() {
      $( "#juegos" ).buttonset();
    });

    function reemplazarCon(cadena,key,value) {
      var s = cadena;
      var reg = new RegExp("\\{" + key + "\\}", "gm");             
        s = s.replace(reg, value);
        return s;
    }

    


function sincronizarConFechaCheckIn(){

  var fechaActual = new Date();
  var torneo_inicio_torneo_fecha = document.getElementById('torneo_inicio_torneo_fecha').value;
  var torneo_inicio_torneo_tiempo = document.getElementById('torneo_inicio_torneo_tiempo').value;

  var parts = torneo_inicio_torneo_fecha.split('/');
  var partsTime = torneo_inicio_torneo_tiempo.split(':');

  var condicional24Horas = partsTime[1].substring(3,5);

  if (condicional24Horas=='PM'){
    partsTime[0]=(partsTime[0]*1.0)+12;
  }

  var inicioTorneo=new Date(parts[2],parts[1]-1,parts[0],partsTime[0],partsTime[1].substring(0,2));

  inicioTorneo.setMinutes(inicioTorneo.getMinutes()-45)

  var year = inicioTorneo.getFullYear();
  var month_pre=("00" + (inicioTorneo.getMonth()+1));
  var day_pre=("00" + (inicioTorneo.getDate()));
  var month = month_pre.substring(month_pre.length -2,month_pre.length);
  var day = day_pre.substring(day_pre.length -2,day_pre.length);

  var hour_pre=("00" + (inicioTorneo.getHours()));
  var minute_pre=("00" + (inicioTorneo.getMinutes()));

  var hour = hour_pre.substring(hour_pre.length -2,hour_pre.length);  
  var AMoPM="AM"
  if (hour>12){
    hour=hour-12;
    AMoPM="PM"
  }
  var minute = minute_pre.substring(minute_pre.length -2,minute_pre.length);

  $('#torneo_cierre_inscripcion_fecha').val( day + "/" + month + "/" + year);
  $('#torneo_cierre_inscripcion_tiempo').val( hour +":" + minute + " "+AMoPM);

  $('#ronda1_inicio_fecha').val( $('#torneo_inicio_torneo_fecha').val());
  $('#ronda1_inicio_tiempo').val( $('#torneo_inicio_torneo_tiempo').val());
  
  
}

function cargarRegistroDeRondas(vacantes){
   $("#rondas").find("tr").remove();
  var numeroRondas=Math.log(vacantes) / Math.log(2);

 
  for (var i=0;i<numeroRondas;i++){
     var rowTemplate = "<tr><td>{0}</td><td><input type='hidden' id='ronda{7}_numero' name='ronda{7}[numero]' value='{7}' /> <input type='text' id='{1}' name='{2}' class='string required form-control input-lg datepicker' placeholder='Fecha inicio {0}' value='{8}' {10} onkeypress='return false;' /> </td><td><input type='text' id='{3}' name='{4}' class='string required form-control input-lg' placeholder='Hora inicio {0}' value='{9}' {10} onkeypress='return false;' /></td><td><select id='{5}' name='{6}' class='string required form-control input-lg' ><option value='1'>Mejor de 1</option><option value='3'>Mejor de 3</option><option value='5'>Mejor de 5</option></select></td></tr>";
    contador=i+1;
    rowTemplate = reemplazarCon(rowTemplate,0,"Ronda "+contador);
    rowTemplate = reemplazarCon(rowTemplate,1,"ronda"+contador+"_inicio_fecha");
    rowTemplate = reemplazarCon(rowTemplate,2,"ronda"+contador+"[inicio_fecha]");
    rowTemplate = reemplazarCon(rowTemplate,3,"ronda"+contador+"_inicio_tiempo");
    rowTemplate = reemplazarCon(rowTemplate,4,"ronda"+contador+"[inicio_tiempo]");
    rowTemplate = reemplazarCon(rowTemplate,5,"ronda"+contador+"_modo_ganar");
    rowTemplate = reemplazarCon(rowTemplate,6,"ronda"+contador+"[modo_ganar]");
    rowTemplate = reemplazarCon(rowTemplate,7,contador);
    if (contador==1){
      rowTemplate = reemplazarCon(rowTemplate,8,"<%=@torneo.inicio_torneo_fecha.strftime('%d/%m/%Y') %>");
      rowTemplate = reemplazarCon(rowTemplate,9,"<%=@torneo.inicio_torneo_tiempo.strftime('%I:%M %p') %>");
      rowTemplate = reemplazarCon(rowTemplate,10,"readonly='true'");      
    }else{
      rowTemplate = reemplazarCon(rowTemplate,8,"");
      rowTemplate = reemplazarCon(rowTemplate,9,"");
      rowTemplate = reemplazarCon(rowTemplate,10,"");      
    }

    
    $("#rondas").append(rowTemplate);
    $( "#ronda"+contador+"_inicio_fecha" ).datepicker({ dateFormat: "dd/mm/yy" });
    
    $("#ronda"+contador+"_inicio_tiempo").timepicker({
      showPeriod: true,
      showLeadingZero: true
    });
  }      
  //asdasdasds
  <% contador=1%>
  <% @torneo.rondas.each do |ronda| %>
    $("#ronda<%=contador%>_inicio_fecha").val("<%=ronda.inicio_fecha.strftime('%d/%m/%Y')%>");
    $("#ronda<%=contador%>_inicio_tiempo").val("<%=ronda.inicio_tiempo.strftime('%I:%M %p')%>");
  <%  contador=contador+1 %>
  <% end %>

}

</script>
<span id="mensajeError"></span>
<%= form_for(@torneo) do |f| %>
  <% if @torneo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@torneo.errors.count, "error") %> No permite registrar el torneo:</h2>

      <ul>
      <% @torneo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label class="labelFormulario">Título </label>    
    <input id="torneo_titulo"  class="string required form-control input-lg" placeholder="Título de tu torneo" type="text" name="torneo[titulo]" maxlength="200" size="60" value="<%=@torneo.titulo%>" >
  </div>
  <div class="field">
      <label class="labelFormulario">P&aacute;gina web</label>
    <input id="torneo_paginaweb"  class="string required form-control input-lg" placeholder="Link de tu p&aacute;gina, fanpage, o foro con el detalle de tu torneo" type="text" name="torneo[paginaweb]" maxlength="200" size="60" value="<%=@torneo.paginaweb%>" >
  </div>

  <div class="field">
    <label class="labelFormulario">Juego</label>    
    <div id="juegos">
      <% 
      contador=1
      Juego.all.each do | juego | %>   
        <input type="radio" id='juego_<%=juego.id%>' name='juego[id]' value="<%=juego.id%>" 
        <% if contador == 1 then %>checked='checked' <% end %> >
        <label for="juego_<%=juego.id%>"><%= juego.nombre %></label>
      <% 
      contador=contador+1
      end %>
    </div>
  </div>
  <div class="field">
    <label class="labelFormulario">Vacantes</label>    
    <div id="vacantes">
      <input type="radio" id='torneo_vacantes1' name='torneo[vacantes]' value="4" onclick="javascript:cargarRegistroDeRondas(4)"
      <% if @torneo.vacantes == 4 then %> checked='checked'  <% end %> /><label for="torneo_vacantes1">4</label>
      <input type="radio" id="torneo_vacantes2" name='torneo[vacantes]' value="8" onclick="javascript:cargarRegistroDeRondas(8)" 
      <% if @torneo.vacantes == 8 then %> checked='checked'  <% end %> /><label for="torneo_vacantes2">8</label>
      <input type="radio" id="torneo_vacantes3" name='torneo[vacantes]' value="16" onclick="javascript:cargarRegistroDeRondas(16)"
      <% if @torneo.vacantes == 16 then %> checked='checked'  <% end %> /><label for="torneo_vacantes3">16</label>
      <input type="radio" id="torneo_vacantes4" name='torneo[vacantes]' value="32" onclick="javascript:cargarRegistroDeRondas(32)"
      <% if @torneo.vacantes == 32 then %> checked='checked'  <% end %> /><label for="torneo_vacantes4">32</label>
    </div>
  </div>
  <div class="field">
    <label class="labelFormulario">Fecha inicio torneo</label>
    <input type="text" id="torneo_inicio_torneo_fecha" name="torneo[inicio_torneo_fecha]" class="string required form-control input-lg datepicker" placeholder="Fecha Inicio del torneo" onchange="javascript:sincronizarConFechaCheckIn();" value="<%=@torneo.inicio_torneo_fecha.strftime("%d/%m/%Y") %>" onkeypress="return false;" > 
    <input type="text" id="torneo_inicio_torneo_tiempo" name="torneo[inicio_torneo_tiempo]" class="string required form-control input-lg" placeholder="Hora Inicio del torneo" onchange="javascript:sincronizarConFechaCheckIn();" value="<%=@torneo.inicio_torneo_tiempo.strftime("%I:%M %p")%>" onkeypress="return false;" >
  </div>  
  <div class="field">
    <label class="labelFormulario">Fecha cierre inscripci&oacute;n e inicio check-in </label>
    <input type="text" id="torneo_cierre_inscripcion_fecha" name='torneo[cierre_inscripcion_fecha]' class="string required form-control input-lg datepicker" placeholder="Fecha inicio check-in" readonly="true" value="<%=@torneo.cierre_inscripcion_fecha.strftime("%d/%m/%Y") %>" > 
    <input type="text" id="torneo_cierre_inscripcion_tiempo"  name='torneo[cierre_inscripcion_tiempo]' class="string required form-control input-lg" placeholder="Hora Inicio check-in" readonly="true"  value="<%=@torneo.cierre_inscripcion_tiempo.strftime("%I:%M %p") %>" >
  </div>  
  <br/>
  <h4 class="text-center"><b>Fecha de Rondas y modo de ganar</b></h4>

   <div class="field">
      <table class="table table-bordered table-hover table-striped tablesorter">
      <thead>
        <tr>
          <td class="header">Ronda</td>
          <td class="header">Fecha de inicio</td>
          <td class="header">Hora de inicio</td>
          <td class="header">Modo de ganar</td>
        </tr>
      </thead>
      <tbody id="rondas">
      </tbody>
    </table>
   </div>
   <div class="field">

   </div>
     <div id="tipo_generacion" class="ui-buttonset">
      <center> <%= f.submit "Registrar Torneo" %></center>
     </div>   
  </div>

<% end %>
<script type="text/javascript">
  cargarRegistroDeRondas(<%= @torneo.vacantes %>);
  $( "#tipo_generacion" ).buttonset();

    $(function() {
      $( "#torneo_inicio_torneo_fecha" ).datepicker({ dateFormat: "dd/mm/yy" });
    });


    $('#torneo_inicio_torneo_tiempo').timepicker({
      showPeriod: true,
      showLeadingZero: true
    });
</script>