<h1>Registra tu torneo</h1>
        <br/>
<span id="mensajeError"></span>
<%= form_for @torneo,  html: {class: "frm-registro"} do |f| %>
  <% if @torneo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@torneo.errors.count, "error") %> No permiten registrar el torneo:</h2>

      <ul>
      <% @torneo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<label id="torneo_titulo_label">Titulo del torneo <input type="text" name="torneo[titulo]" id="torneo_titulo" placeholder="<%=@torneo.titulo%>"size="100" /></label>
<br/>
<label >Seleccione el juego: </label>

  <p id="cuadro_de_juegos">
              <% Juego.juegos_disponibles.each do | juego | %>   
                <input type="radio" class="Radio_juego" id='juego_<%=juego.id%>' name='juego[id]' value="<%=juego.id%>" checked='checked'>
                <label for="juego_<%=juego.id%>"><%= juego.nombre %></label>          
              <% end %>
            </p>

</br>
</br>

<label id="cuadro_de_vacantes">Vacantes: 
    <input type="radio" class="Radio_vacantes" id='torneo_vacantes1' name='torneo[vacantes]' value="4" 
        <% if @torneo.vacantes == 4 then %> checked='checked'  <% end %> /><label for="torneo_vacantes1">4</label> 
        <input type="radio" class="Radio_vacantes" id="torneo_vacantes2" name='torneo[vacantes]' value="8"  
        <% if @torneo.vacantes == 8 then %> checked='checked'  <% end %> /><label for="torneo_vacantes2">8</label>
        <input type="radio" class="Radio_vacantes" id="torneo_vacantes3" name='torneo[vacantes]' value="16" 
        <% if @torneo.vacantes == 16 then %> checked='checked'  <% end %> /><label for="torneo_vacantes3">16</label>
</label>
<br>
<br>
<label id="Fecha_inscripcion">Fecha cierre inscripci&oacute;n:

<br>
  <% if @torneo.cierre_inscripcion.nil?  %>       
        <input type="text" id="cierre_inscripcion_fecha" name='cierre_inscripcion_fecha' placeholder="Fecha inicio check-in"  />   
     
        <input type="text" id="cierre_inscripcion_hora"  name='cierre_inscripcion_hora' placeholder="Hora Inicio check-in"  />
      <% else %>
         <input type="text" id="cierre_inscripcion_fecha" name='cierre_inscripcion_fecha' placeholder="dd/mm/yyyy"  value="<%= @torneo.cierre_inscripcion.strftime("%d/%m/%Y") %>" />     
        <input type="text" id="cierre_inscripcion_hora"  name='cierre_inscripcion_hora' placeholder="HH:mm AM/PM"  value="<%= @torneo.cierre_inscripcion.strftime("%I:%M %p") %>" />  
 <% end %>  
 </label>     
<br>
<label id="torneo_urllogo_label">Url logo<input type="text" name="torneo[urllogo]" id="torneo_urllogo" value="<%=@torneo.urllogo%>" /></label>
<br>
<label id="torneo_urlspon_label">Monto auspiciado<input type="text" name="torneo[monto_auspiciado]" id="torneo_monto_auspiciado" value="<%=@torneo.monto_auspiciado%>" /></label>
<br>
      <center> <%= f.submit "Registrar" %></center>
      <br/>
      <center><a class="Enlace_detalle_registrarTorneo" href="javascript:goBack();">Volver</a></center>
      <br/>
<% end %>