<section class="FrmRegistrarTorneo">
  <h1>Registra tu torneo</h1>
  <br/>
  <span id="mensajeError"></span>
  <%= form_for @torneo,  html: {class: "frm-registro"} do |f| %>
    <% if @torneo.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@torneo.errors.count, "error") %> No permiten registrar el torneo:</h2>
        <ul>
        <% @torneo.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

  <table class="Detalle_rondas">
      <thead>
        <tr>
          <th class="header1">Ronda</td>
          <th class="header2">Fecha de inicio</td>
          <th class="header3">Hora de inicio</td>
          <th class="header">Modo de ganar</td>
        </tr>
      </thead>
      <tbody id="rondas">
        <% @torneo.rondas.each do | ronda | %>
        <tr>
          <td align="Center"><%=ronda.numero%></td>
          <td align="Center"><input type='hidden' id='ronda<%=ronda.numero%>_numero' name='ronda<%=ronda.numero%>[numero]' value='<%=ronda.numero%>' /> 
            <input type='text' id='ronda<%=ronda.numero%>_inicio_fecha' name='ronda<%=ronda.numero%>[inicio_fecha]' class='string required form-control input-lg-inFec datepicker1' placeholder='dd/mm/yyyy' value='<%=ronda.inicio_fecha.strftime("%d/%m/%Y")%>'  /> 
          </td>
          <td align="Center"><input type='text' id='ronda<%=ronda.numero%>_inicio_tiempo' name='ronda<%=ronda.numero%>[inicio_tiempo]' class='string required form-control input-lg-inTi' placeholder='hh:mm AM/PM' value='<%=ronda.inicio_tiempo.strftime("%I:%M %p")%>' />
          </td>
          <td align="Center">
            <select id='ronda<%=ronda.numero%>_modo_ganar' name='ronda<%=ronda.numero%>[modo_ganar]' class='string required form-control input-lg' >
              <option <% if ronda.modo_ganar == 1 then %> selected="true" <% end %> value='1'>Mejor de 1</option>
              <option <% if ronda.modo_ganar == 3 then %> selected="true" <% end %> value='3'>Mejor de 3</option>
              <option <% if ronda.modo_ganar == 5 then %>  selected="true" <% end %> value='5'>Mejor de 5</option>
            </select>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>  
  <center> <%= f.submit "Registrar Torneo" %></center>
  <% end %>
  </section>

