          <script type="text/javascript">

            var minimalData = {
            teams : [
              <% contador=0 %>
              <%   cantidad_inscripciones=@torneo.inscripcions.count %>
              <%   @torneo.inscripcions.order(:posicion_inicial).each do |inscripcion| %>
                <% if contador == 0 then %>                
                  ["<%= inscripcion.peso_participacion %>-<%= inscripcion.gamer.nick %>"  
                <% else %>  
                  "<%= inscripcion.peso_participacion %>-<%= inscripcion.gamer.nick %>" 
                <% end if %>
                
                <% if contador % 2 != 0 && contador!=cantidad_inscripciones then %>              
                  ,              
                <% elsif contador % 2 == 0 && cantidad_inscripciones != contador then %>              
                  ],[ 
                <% else  %>  
                  ]
                <% end if %>
                <% contador=contador+1 %>
              <% end %>
            ],

            }
          $(function() {
            $('#llaves').bracket({
            init: minimalData /* data to initialize the bracket with */ })
          })
          </script>

<div class="container">
  <div class="row">
    <%   if cantidad_inscripciones <= 8 then %>
      <div class="tile" style="height: 456px;">
    <%   elsif cantidad_inscripciones <= 16 then %>
      <div class="tile" style="height: 656px;">
    <%   elsif cantidad_inscripciones <= 32 then %>
      <div class="tile" style="height: 1056px;">
    <%   else %>
      <div class="tile" style="height: 256px;">
    <% end %>    
           <h2 class="text-center"><%= @torneo.titulo %></h2>
           <h3 class="text-center"><%= @torneo.paginaweb %></h3>
            <%= form_for @torneo do |f|   %>
             <center>
              <a href="/torneos/<%=@torneo.id%>"><font color="#FFFFFF">Ver detalle del detalle del torneo</font></a>
            </center>
             <% end %>
          <div id="llaves" class="table-responsive" ></div>       
      </div>      
  </div>  
</div>  