  <div class="jumbotron">    
    <p class="lead">
      <img src="<%= image_path("logo-tiny.png") %>" alt="I'm Yeoman" width="120px" ><br>
      <h1>Bienvenido!</h1>
      Participa en torneos e-sports en l&iacute;nea
    </p>
  </div>

  <div class="jumbotron" style="background-color: #fff;border-color: #e7e7e7;border-style: solid;"> 
    <% @torneos.each do |torneo| %>
      <div class="row" id="seccion_torneo_<%=torneo.id%>">
        <div class="col-sm-4">
          <a href="/torneos/<%=torneo.id%>">
            <img src="<%= torneo.urllogo %>" alt="" style="width:100%;height: 180px;" >
          </a>
        </div>
        <div class="col-sm-6">
          <p><b><%= torneo.titulo %></b></p>
          <b>Capacidad: </b> <%= torneo.vacantes %> 
          <br/>
          <b>Estado: </b> <%= torneo.estado %> 
          <br/>
          <b>Cierre de Inscripci&oacute;n: </b> <%= torneo.cierre_inscripcion.strftime("%d/%m/%Y %I:%M %p") %> GMT-5
          <br/>
          <br/>
          
          <% if torneo.estado == "Creado" %>
						<% if @current_gamer.nil? %>
              <a href="/inscripciones/new?id_torneo=<%=torneo.id%>">
                <button type="button" class="btn btn-primary btn-block" id="checkin_torneo_<%=torneo.id%>" >Inscribir</button>
              </a>
            <% elsif @current_gamer.esta_inscrito(torneo) and  torneo.es_periodo_de_checkin  %>
              <a href="/inscripciones/confirmar/<%=torneo.id%>">
                <button type="button" class="btn btn-success btn-block" id="checkin_torneo_<%=torneo.id%>" >Check-In</button>
              </a>
            <% elsif @current_gamer.esta_inscrito(torneo) %>
                <button type="button" class="btn btn-success btn-block disabled" id="checkin_torneo_<%=torneo.id%>" >Inscrito, Espera la fase de Check-In</button>
            <% else %>
              <a href="/inscripciones/new?id_torneo=<%=torneo.id%>">
                <button type="button" class="btn btn-primary btn-block" id="checkin_torneo_<%=torneo.id%>" >Inscribir</button>
              </a>
            <% end %>
          <% else %>  
            <a href="/inscripciones/new?id_torneo=<%=torneo.id%>">
              <button type="button" class="btn btn-success btn-block" id="ver_detalle_torneo_<%=torneo.id%>">Ver detalle</button>
            </a>
          <% end %>          
        </div>
        <div class="col-sm-2" style="text-align: center" >
          <img class="logo_dt3_au" src="<%= image_path("cofre.jpg") %>" alt="GG E-sports" style="height: 80px"/>
          <br/>
          <br/>
          <b> <%= number_to_currency(torneo.monto_auspiciado, precision: 2, locale: :en) %></b>          
        </div>
      </div>
      <br/>
    <% end %>
  </div>

  <div class="row text-center">
    <div class="col-sm-4">
      <center><img src="<%= image_path("organizacion.png") %>" class="img-responsive margin" style="width:80%" alt="Image"></center>
      <b>Organizaci&oacute;n simple</b>
      <br/>
      <br/>
      <p>Contamos con herramientas para que organizar un torneo no sea un dolor de cabeza.</p>
    </div>
    <div class="col-sm-4">    
      <center><img src="<%= image_path("llegada_gamer.png") %>" class="img-responsive margin" style="width:80%" alt="Image"></center>
      <b>Mayor llegada a gamers</b>
      <br/>
      <br/>
      <p>Con nuestra fuerte integración en redes sociales puedes asegurar el alcance de tu torneo.</p>      
    </div>
    <div class="col-sm-4"> 
      <center><img src="<%= image_path("rentabilidad.png") %>" class="img-responsive margin" style="width:80%" alt="Image"></center>
      <b>Rentabilidad para auspiciadores</b>      
      <br/>
      <br/>
      <p>a mayor alcance por redes sociales mayor probabilidad de vender sus productos.</p>      
    </div>
  </div>
