  <script type="text/javascript">
    function generarContadorPorTorneo(idTorneo,fecha_limite){
      $('#countdown_'+idTorneo).countdown({until: $.countdown.UTCDate(-5,fecha_limite), format: 'dhmS',expiryText: "<font color='red'><a href='/'>Recarga la p&aacute;gina</a></font>" }); 
      }      
  </script>
    <section class="Torneos">
      <article>        
        <%= render partial: "reutilizable/ficha_lista_torneo_iniciado", collection: @torneos_iniciados, as: :torneo %>
        <%= render partial: "reutilizable/ficha_lista_torneo_confirmado", collection: @torneos_confirmados, as: :torneo %>
        <%= render partial: "reutilizable/ficha_lista_torneo_inscrito_con_pago", collection: @torneos_inscrito_con_pago, as: :torneo %>
        <%= render partial: "reutilizable/ficha_lista_torneo_inscrito", collection: @torneos_inscritos, as: :torneo %>        
        <%= render partial: "reutilizable/ficha_lista_torneo_disponible", collection: @torneos, as: :torneo %>
        <% if @torneos.size == 0 and @torneos_inscritos_y_confirmados.size == 0 %>
          <h1 id="Lista_vacia">A&uacute;n no existe torneos registrados, puedes registrar el tuyo haciendo clic <a href="/torneos/new">aqu&iacute;</a></h1>
        <% end %>
      </article>
      <aside>
        <script>
          (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.3&appId=686458234757061";
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));

          $(document).ready(main);
        </script>          
          <br/>
          <div class="fb-comments" data-href="http://www.ggesports.la/" data-width="380" data-numposts="7" data-colorscheme="light" data-order-by="reverse_time"></div>
        </aside>
    </section>

