     <script type="text/javascript">
                function generarContadorPorTorneo(idTorneo,fecha_cierre_inscripcion){
                  $('#countdown_'+idTorneo).countdown({until: fecha_cierre_inscripcion, format: 'dhmS',expiryText: "<font color='red'>Inscripciones Cerradas</font>" }); 
                }
              </script>
  <section class="Anuncios">
           <article >Destacar Torneo</article>
           <article>Torneo Dota 2 <br/> Confirmar en 10:59</article>
           <article>Torneo League of Legend<br/> Confirmar en 9:00 </article>
           <article>Torneo de Poker<br/> Confirmar en 9:00 </article>
          <article>Torneo de Ajedrez<br/> Confirmar en 5:20 </article>
    </section>

    <section class="Marketing1">
          <h1>Zona de Marketing 1</h1>
    </section>
    
    <section class="Torneos">
      <article>
         <h1>Torneos</h1>
           <% @torneos.each do |torneo| %>
              <article id="ContenidoTorneo">
                <img  src="<%= image_path("versus.jpg") %>" alt="Encuentro">
                <article>
                 <h2><%= torneo.titulo %></h2>
                  <p><%= torneo.juego.nombre %>, <%= torneo.vacantes %> slots .</br>
                    <% 
                        un_dias_en_segundos=60 * 60 * 24
                        if torneo.cierre_inscripcion.to_i - Time.new.to_i >= un_dias_en_segundos then %>  
                          <%= TorneosHelper.obtenerFormatoCuentaRegresivaHastaLaFecha(torneo.cierre_inscripcion) %>
                        <% else %>
                          <div id='countdown_<%=torneo.id%>'></div>
                          <script type="text/javascript">
                            generarContadorPorTorneo('<%=torneo.id%>', new Date(<%= torneo.cierre_inscripcion.to_i * 1000 %>));
                          </script>
                        <% end %>
                  </p>
                </article>
           </article>
           <% end %>
         </article>


      </article>
      <aside>Zona de Marketing 2</aside>
    </section>