          <script type="text/javascript">

            var minimalData = {
              <%   cantidad_inscripciones=@torneo.vacantes %>
              teams : <%=raw @torneo.arreglo_de_nombres_para_llaves %>,
              results: <%=raw TorneosHelper.obtener_array_para_resultado_llaves(@torneo) %>
            }
          $(function() {
            $('#llaves').bracket({
            init: minimalData,
            skipConsolationRound: true
            <% if @torneo.estado == "Iniciado" && @current_gamer==@torneo.gamer %>
            ,onMatchClick: registrarGanador,
            decorator: {edit: edit_fn,render: render_fn}})
            <% end %>
          })
          <% if @torneo.estado == "Iniciado" && @current_gamer==@torneo.gamer %>
            function registrarGanador(data) {
              if (data == "0"){
                alert("No existe ambos contrincantes");                
              }else{
                location.href="/encuentros/"+data+"/edit";  
              }
            }

            function edit_fn(container, data, doneCb) {
              var input = $('<input type="text">')
              input.val(data.name)
              container.html(input)
              input.focus()
              input.blur(function() { doneCb({name: input.val()}) })
            }

            function render_fn(container, data, score) {
              $('#llaves div .tools').addClass('ocultar_contenido');
              container.append(data);
            }
          <% else %>
          })
          <% end %>

          </script> 
<section class="Torneos">
  <script>
    $(function() {
      $( "#tabs" ).tabs();
    });
  </script>
<article id="tabs">
  <ul>            
    <li><a href="#tabs-1">Encuentro en curso</a></li>
    <li><a href="#tabs-2">En vivo!!!</a></li>
    <li><a href="#tabs-3">Detalle Torneo</a></li>
    <li><a href="#tabs-4">Brackets</a></li>
  </ul>
  <article id="tabs-1">
    <br/>
    <% if @current_gamer != @torneo.gamer %>
      <%= render partial: "encuentros/encuentro_en_curso", object: @torneo, as: :torneo %>
    <% end %>
     <br/>
  </article> 
  <article id="tabs-2" >
    <article id="tabs_comentario">
      <%= render partial: "reutilizable/chat" %>
    </article>   
  </article>
  <article id="tabs-3">
    <%= render partial: "reutilizable/ficha_presentacion_torneo_detallado", object: @torneo, as: :torneo %>
  </article>
  <article id="tabs-4">
    <% if @current_gamer == @torneo.gamer %>
            <h1 ><u>Torneo en Curso</u></h1>
            <% if @torneo.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@torneo.errors.count, "error") %> No permiten registrar el torneo:</h2>
                  <ul>
                  <% @torneo.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                  </ul>
                </div>
            <% end %>
            <%= form_tag({controller: "torneos", action: "comenzar"}, method: "post") %>
              <% if @torneo.estado != "Iniciado" and @torneo.gamer == current_gamer %>
                <input id="estado" type="hidden" name="estado" value="Iniciado" />
                <center>
                <a class = "Lkn_DetalleTorneo" href="/torneos/iniciar/<%=@torneo.id%>">Volver a generar</a>       
                <br>
                  <center><input name="commit" type="submit" value="Iniciar Torneo!!!" /></center>
                  <input name="id_torneo" type="hidden" value="<%=@torneo.id%>" />
                </center>
              <% end %>
          <% end %>    
        <% if @torneo.estado == 'Iniciado' || @current_gamer == @torneo.gamer %>
          <article id="llaves"></article>
        <% else %>
          <h1 ><u>En un momento el organizador genera las llaves..., por favor espera</u></h1>
        <% end %> 
  </article>
</article>
          <aside>
            <br/>
            <article id="tabs_chat-2" >
              <h3>Users</h3>
                <ul class="nav nav-list" id="user-list">
                  <li class="nav-header">Active</li>
                </ul>
            </article> 
          </aside>
</section>