          <script type="text/javascript">

            var minimalData = {
              <% contador=0 %>
              <%   cantidad_inscripciones=@torneo.vacantes %>
              teams : <%=raw TorneosHelper.array_para_llaves(@torneo)%>,
              results: <%=raw TorneosHelper.obtener_array_para_resultado_llaves(@torneo)%>
            }
          $(function() {
            $('#llaves').bracket({
            init: minimalData,
            skipConsolationRound: true
            <% if @torneo.estado == "Iniciado" && @current_gamer==@torneo.gamer %>
            ,onMatchClick: registrarGanador,
            decorator: {edit: edit_fn,render: render_fn}})
            <% end %>
          })
          <% if @torneo.estado == "Iniciado" && @current_gamer==@torneo.gamer %>
            function registrarGanador(data) {
              if (data == "0"){
                alert("No existe contrincantes definidos");                
              }else{
                location.href="/encuentros/"+data+"/edit";  
              }
            }

            function edit_fn(container, data, doneCb) {
              var input = $('<input type="text">')
              input.val(data.name)
              container.html(input)
              input.focus()
              input.blur(function() { doneCb({name: input.val()}) })
            }

            function render_fn(container, data, score) {
              alert(data);
              $('#llaves div .tools').addClass('ocultar_contenido');
              container.append(data);
            }
          <% else %>
          })
          <% end %>

          </script> 

<div class="container">
  <div class="row">
    
    <%   if cantidad_inscripciones <= 8 then %>
      <div class="tile" style="height: 640px;">
    <%   elsif cantidad_inscripciones <= 16 then %>
      <div class="tile" style="height: 900px;">
    <%   elsif cantidad_inscripciones <= 32 then %>
      <div class="tile" style="height: 1300px;">
    <%   else %>
      <div class="tile" style="height: 256px;">
    <% end %>
            <% if @torneo.estado == "Iniciado"  %>  
              <h3 class="text-center"><u>Torneo en Curso</u></h1>
            <% else%>
              <h3 class="text-center"><u>Prepara tu torneo antes de iniciar</u></h1>
            <% end %>  
            <h3 class="text-center"><%= @torneo.titulo %></h2>
            <h4 class="text-center"><%= @torneo.paginaweb %></h4>
            <center>
              <a class = "Lkn_DetalleTorneo" href="/torneos/<%=@torneo.id%>">Ver detalle del detalle del torneo</a>
            </center>
            <br/>
            <% if @torneo.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@torneo.errors.count, "error") %> No permiten registrar el torneo:</h2>

                <ul>
                <% @torneo.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
                </ul>
              </div>
            <% end %>
            <br/>
            <%= form_for @torneo do |f|   %>
             <% if @torneo.estado != "Iniciado" %>
             <input id="torneo_estado" type="hidden" name="torneo[estado]" value="Iniciado" />
                <center>
                  <a class = "Lkn_DetalleTorneo" href="/torneos/iniciar/<%=@torneo.id%>">Volver a generar</a>       
                    <br>
                       <br>
                       
                      <div id="boton_generar">
                        <center><%= f.submit "Iniciar Torneo!!!"%></center>
                      </div>
                      
                </center>
            <% end %>
            <% end %>
          <div id="llaves" class="table-responsive" ></div>       
      </div>      
  </div>  
</div>  
  <script type="text/javascript">
    $( "#boton_generar" ).buttonset();
  </script>