          <script type="text/javascript">

            var minimalData = {
              <% contador=0 %>
              <%   cantidad_inscripciones=@torneo.vacantes %>
              teams : <%=raw @torneo.array_encuentros_para_generar_llaves%>,
              results: <%=raw @torneo.array_resultado_encuentros_para_generar_llaves%>
            }
          $(function() {
            $('#llaves').bracket({
            init: minimalData, 
            onMatchClick: registrarGanador}
            )
          })

          function registrarGanador(data) {
            alert(data);            
          }

          </script> 

<div class="container">
  <div class="row">
    <%   if cantidad_inscripciones <= 8 then %>
      <div class="tile" style="height: 640px;">
    <%   elsif cantidad_inscripciones <= 16 then %>
      <div class="tile" style="height: 900px;">
    <%   elsif cantidad_inscripciones <= 32 then %>
      <div class="tile" style="height: 1300px;">
    <%   else %>
      <div class="tile" style="height: 256px;">
    <% end %>    
            <h3 class="text-center"><u>Prepara tu torneo antes de iniciar</u></h1>
            <h3 class="text-center"><%= @torneo.titulo %></h2>
            <h4 class="text-center"><%= @torneo.paginaweb %></h4>
            <center>
              <a href="/torneos/<%=@torneo.id%>"><font color="#FFFFFF">Ver detalle del detalle del torneo</font></a>
            </center>
            <br/>
            <% if @torneo.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@torneo.errors.count, "error") %> No permiten registrar el torneo:</h2>

                <ul>
                <% @torneo.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
                </ul>
              </div>
            <% end %>
            <br/>
            <%= form_for @torneo do |f|   %>
             <% if @torneo.estado != "Iniciado" %>
             <input id="torneo_estado" type="hidden" name="torneo[estado]" value="Iniciado" />
                <center>
                  <a href="/torneos/iniciar/<%=@torneo.id%>"><font color="#FFFFFF">Volver a generar</font></a>       
                    <br/>
                     
                      <div id="boton_generar">
                        <center><%= f.submit "Iniciar Torneo!!!"%></center>
                      </div>
                      
                </center>
            <% end %>
            <% end %>
          <div id="llaves" class="table-responsive" ></div>       
      </div>      
  </div>  
</div>  
  <script type="text/javascript">
    $( "#boton_generar" ).buttonset();
  </script>