<section class="FrmRegistrarTorneo">
  <h1>Mis torneos Organizados</h1>
  <table class="Detalle_rondas">
    <thead>
      <tr>
        <th class="header">Nombre</th>
        <th class="header">Juego</th>
        <th class="header">Vacantes</th>
        <th class="header">Inscritos</th>
        <th class="header">Cierre inscripcion</th>
        <th class="header">Acci&oacute;n</th>
      </tr>
    </thead>
      <tbody id="torneosPortada">
        <% @torneos.each do |torneo| %>
          <tr>
            <td><a class="Enlace_torneosDisponibles" href="/torneos/<%=torneo.id%>"><%= torneo.titulo %><a/></td>
            <td><%= torneo.juego.nombre %></td>
            <td><%= torneo.vacantes %></td>                      
            <td ><a class="Enlace_torneosDisponibles" href="/inscripciones?id_torneo=<%=torneo.id%>" >Ver<a/></td>
            <td><%= torneo.cierre_inscripcion.strftime("%d/%m/%Y") %> <%= torneo.cierre_inscripcion.strftime("%I:%M %p") %>
            </td>
            <td>
              <% if torneo.estado == "Iniciado"%>
                <a class="Enlace_torneosDisponibles" id="link_seguimiento_torneo_<%=torneo.id%>" href="/torneos/iniciar/<%=torneo.id%>"><font color="green">Seguimiento</font></a>
              <% else %>
                <a class="Enlace_torneosDisponibles" id="link_iniciar_torneo_<%=torneo.id%>" href="/torneos/iniciar/<%=torneo.id%>">Iniciar ya!!!</a>, <a class="Enlace_torneosDisponibles" href="/torneo_relampago/<%=torneo.id%>" >Agregar gamers fantasmas</a>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
  </table>  
</section>