<script type="text/javascript">

    $( "#tipo_generacion" ).buttonset();

  function permitirMoverInscritos(radioTipoGeneracion){
    $( "#inscritos" ).sortable(
    {
      stop: function( event, ui ) {
        $( "#inscritos li" ).each(function( index ) {
          //$( this + " input " ).val("12");
          console.log( index + ": " + $( this ).children("input:first").val() );
          $( this ).children("input:last").val(index + 1);
        });
      }    
    }
      );
  }

  function noPermitirMoverInscritos(radioTipoGeneracion){
    $( "#inscritos" ).sortable("disable");
  }


</script>

  <div class="container">
    <div class="row">
        <div >
            <div class="tile">
              <h3 class="text-center">Prepara tu torneo antes de iniciar</h3>
               <div class="table-responsive">          
                <%= form_for @torneo do |f|   %>

                  <div id="tipo_generacion">
                    <input type="radio" id='torneo_tipo_generacion_aleatorio' name='torneo[tipo_generacion]' value="A" onclick="javascript:noPermitirMoverInscritos(this)" checked='checked' ><label for="torneo_tipo_generacion_aleatorio">Aleatorio</label>
                    <input type="radio" id="torneo_tipo_generacion_cabezas" name='torneo[tipo_generacion]' value="C" onclick="javascript:permitirMoverInscritos(this)" ><label for="torneo_tipo_generacion_cabezas">Cabezas de serie</label>
                  </div>

                  <%= f.submit %>

              <ul class="inscripciones" class="ui-sortable">
                <li class="ui-state-default" style="">
                  <div class="columna_inscritos_nick_cabecera"><b>Gamer</b></div>
                  <div class="columna_inscritos_fecha_cabecera"><b>Fecha inscripci&oacute;n</b></div>
                </li>  
              </ul>
              <ul class="inscripciones" id="inscritos">
                <% @torneo.inscripcions.each do |inscripcion| %>
                  <li class="ui-state-default"><div class="columna_inscritos_nick"><%= inscripcion.gamer.nick %></div><div class="columna_inscritos_fecha"><%= inscripcion.fecha_inscripcion %></div>                     
                    <input id="inscripcion<%=inscripcion.id%>_peso_participacion" type="hidden" name="inscripcion<%=inscripcion.id%>[peso_participacion]" />
                  </li>
                <% end %>
              </ul>

            <%= link_to 'Back', torneos_path %>
            <% end %>
              </div>

            </div>
        </div>
    </div>
  </div>