<script type="text/javascript">

    $( "#tipo_generacion" ).buttonset();

  function permitirMoverInscritos(radioTipoGeneracion){
    $( "#inscritos" ).sortable(
    {
      stop: function( event, ui ) {
        $( "#inscritos li" ).each(function( index ) {
          //$( this + " input " ).val("12");
          $( this ).children("input:last").val(Math.round(index + 1));
          console.log( index + ": " + $( this ).children("input:first").val() );
        });
      }    
    }
      );
  }

  function actualizarMensajeYFuncionesListado(radioTipoGeneracion){
    if (radioTipoGeneracion.value == 'A'){
      $( "#inscritos" ).sortable("disable");
      document.getElementById('mensaje_aleatorio').style.display="block"
      document.getElementById('mensaje_cabezas_serie').style.display="none"
      document.getElementById('mensaje_manual').style.display="none"
    }else if (radioTipoGeneracion.value == 'M'){
      permitirMoverInscritos(radioTipoGeneracion)
      document.getElementById('mensaje_aleatorio').style.display="none"
      document.getElementById('mensaje_cabezas_serie').style.display="none"
      document.getElementById('mensaje_manual').style.display="block"
    }else{
      permitirMoverInscritos(radioTipoGeneracion)
      document.getElementById('mensaje_aleatorio').style.display="none"
      document.getElementById('mensaje_cabezas_serie').style.display="block"
      document.getElementById('mensaje_manual').style.display="none"
    }
    
  }


</script>

  <div class="container">
    <div class="row">
        <div >
            <div class="tile">
              <h3 class="text-center"><u>Prepara tu torneo antes de iniciar</u></h1>
                <h3 class="text-center"><%= @torneo.titulo %></h2>
                <h4 class="text-center"><%= @torneo.paginaweb %></h4>
                
                 <center>
                  <a href="/torneos/<%=@torneo.id%>"><font color="#FFFFFF">Ver detalle del detalle del torneo</font></a>
                 </center>

                <br/>
               <div class="table-responsive">          
                <%= form_for @torneo do |f|   %>

                  <div id="tipo_generacion">
                    <center>
                      <input type="radio" id='torneo_tipo_generacion1' name='torneo[tipo_generacion]' value="A" onclick="javascript:actualizarMensajeYFuncionesListado(this)" checked='checked' ><label for="torneo_tipo_generacion1">Aleatorio</label>
                      <input type="radio" id="torneo_tipo_generacion2" name='torneo[tipo_generacion]' value="M" onclick="javascript:actualizarMensajeYFuncionesListado(this)" ><label for="torneo_tipo_generacion2">Manual</label>

                      <input type="radio" id="torneo_tipo_generacion3" name='torneo[tipo_generacion]' value="C" onclick="javascript:actualizarMensajeYFuncionesListado(this)" ><label for="torneo_tipo_generacion3">Cabezas de serie</label>
                    </center> 
                    <br/>
                    <center><%= f.submit %></center>
                  </div>

                                     

                  <div id="mensaje_aleatorio" class="mensaje_alerta text-center" >
                    <font color="yellow"><b>Las llaves se generar&aacute;n de manera aleatoria</b></font>
                  </div>
                  <div id="mensaje_cabezas_serie" class="mensaje_alerta text-center"  style="display:none" >
                    <font color="yellow"><b>Cambie la posici칩n de los gamers, arrastr치ndolos, para colocarlos en el ranking que usted desea</b></font>
                  </div>
                  <div id="mensaje_manual" class="mensaje_alerta text-center"  style="display:none" >
                    <font color="yellow"><b>La posici칩n de los gamers equivale directamente a su posici칩n en las llaves</b></font>
                  </div>

              <ul class="inscripciones" class="ui-sortable">
                <li class="ui-state-default" style="">
                  <div class="columna_inscritos_nick_cabecera"><b>Gamer</b></div>
                  <div class="columna_inscritos_fecha_cabecera"><b>Cuando se inscribio</b></div>
                  <div class="columna_inscritos_wins_cabecera"><b>Victorias</b></div>                  
                  <div class="columna_inscritos_antiguas_participaciones_cabecera"><b>Participaciones anteriores</b></div>
                </li>  
              </ul>
              <ul class="inscripciones" id="inscritos">
                <% contador=1 %>
                <% @torneo.inscripcions.order(:id).each do |inscripcion| %>
                  <li class="ui-state-default">
                    <div class="columna_inscritos_nick"><%= inscripcion.gamer.nick %></div>
                    <div class="columna_inscritos_fecha"><%= inscripcion.fecha_inscripcion %></div>
                    <div class="columna_inscritos_wins">0</div>                     
                    <div class="columna_inscritos_antiguas_participaciones">0</div>                     

                    <input id="inscripcion<%=inscripcion.id%>_peso_participacion" type="hidden" name="inscripcion<%=inscripcion.id%>[peso_participacion]" value="<%=contador%>" />
                  </li>
                <% contador=contador+1 %>  
                <% end %>
              </ul>

            
            <% end %>
              </div>

            </div>
        </div>
    </div>
  </div>