<section class="FrmRegistrarTorneo">
  Check-in realizado correctamente
  <h2>Detalle del Torneo</h2>
<!--Inicio del cambio-->
 <!--div class="container">-->
 <article article class="container">

  <%= render partial: "reutilizable/chat" %>

 <div class="card-services-dt2">
  <!--detalle del torneo-->
        <%= render partial: "reutilizable/ficha_presentacion_torneo", object: @torneo, as: :torneo %>

        <article class="card home-service-dt2">
          <div class="course-data">
            <h2>Fecha del torneo</h2>
              <img class="logo_dt2_au" src="<%= image_path("date.png") %>" alt="GG E-sports"/><br>
                <b><%= @torneo.cierre_inscripcion.strftime("%d/%m/%Y %I:%M %p") %> GMT-5</b>
          </div>
        </article>
        <article class="card home-service-dt2">
          <div class="course-data">
            <h2>Rondas</h2>
            <table class="Rondas_table">
            <thead>
            <tr>
            <td class="Rondas_encabezado">Final<td>
            <td class="Rondas_contenido"><%= RondasHelper.win_format_final(@torneo) %></td>
            </tr>  
            <tr>
            <td class="Rondas_encabezado">Semifinal<td>
            <td class="Rondas_contenido"><%= RondasHelper.win_format_semifinal(@torneo) %></td>
            </tr>
            <tr>  
            <td class="Rondas_encabezado">Anteriores<td>
            <td class="Rondas_contenido"><%= RondasHelper.win_format_others_rounds(@torneo) %></td>
            </tr>
            </thead>
            </table>
          </div>
        </article>

        <article class="card home-service-dt2">
          <div class="course-data">
            <h2>Bolsas de premios</h2>
            <table>
            <thead>
            <tr><td><img class="logo_dt3_au" src="<%= image_path("Puestos.png") %>" alt="GG E-sports"/><br></td></tr>
            </thead>
            <tbody>
            <tr><td><b class="Dt_puestos_pdinero"> <%= number_to_currency(@torneo.monto_auspiciado, precision: 2, locale: :en) %> </b></td></tr>
            </tbody>
            </table>        
          </div>
        </article>
   
     </div>
  </article>             


  <article class="Detalle_Torneo_Ver">
    <% if @mensaje_de_guardado.nil? %>
      <center>
        <br/>
       <h4><a class ="dt_reg" href="<%=@torneo.link_rules%>"> Reglamento(enlace pdf)</a></h4>
        <% if @torneo.estado == 'Creado' %> 
          <a href="/inscripciones/new/<%=@torneo.id%>" class="cta-button">Inscribirme</a>
        <% else %>
          <a href="/torneos/<%=@torneo.id%>/brackets" class="cta-button">Ver llaves</a>
        <% end %>
        <br/>
        <br/>
        <a class="Enlace_detalle_registrarTorneo" href="javascript:goBack();">Volver</a>
      </center>
      <br/>
    <% else %>
      <center>
        <a class="Enlace_detalle_registrarTorneo" href="/">Volver</a>
      </center>
    <% end %>
    <br/>
  </article>
   <aside>
    <article id="tabs_chat-2" >
      <h3>Participantes confirmados</h3>
      <ul class="nav nav-list" id="user-list">
        <li class="nav-header">Active</li>
      </ul>
    </article> 
  </aside>
</section>