  <div class="container">
    <div class="row">
        <div >
            <div class="tile">
              <h3 class="text-center"><font color="#008000"><b><u>Torneo registrado correctamente</u></b></font></h3>
              <br/>
               <div class="table-responsive">
                  <div class="field">
                    <h4 class="text-center"><%=@torneo.titulo%></h4>
                   <div id="id_torneo_registrado"><%=@torneo.id%></div>
                  </div>
                  <div class="field">
                    <h4 class="text-center"><%=@torneo.paginaweb%></h4>
                  </div>
                  <div class="field">
                    <h4 class="text-center">Juego: <%=@torneo.juego.nombre%></h4>
                  </div>
                  <div class="field">
                     <h4 class="text-center">Fecha cierre inscripci&oacute;n 
                    <%=@torneo.cierre_inscripcion.strftime("%d/%m/%Y") %>
                    <%=@torneo.cierre_inscripcion.strftime("%I:%M %p") %>
                    </h4>
                  </div>
                  <div class="field">
                    <h4 class="text-center">Minutos previos para confirmar: <%=@torneo.periodo_confirmacion_en_minutos%></h4>
                  </div>  
                  <% if @torneo.inscripciones.count > 0 %>
                  <div class="field">
                    <h4 class="text-center1"> <a class="B_regresar" href="/inscripciones?id_torneo=<%=@torneo.id%>">Ver inscritos</a></h4>
                  </div> 
                  <% end %>

                   <div class="field">
                      <table class="table table-bordered table-hover table-striped tablesorter">
                      <thead>
                        <tr>
                          <td class="header">Ronda</td>
                          <td class="header">Fecha de inicio</td>
                          <td class="header">Hora de inicio</td>
                          <td class="header">Modo de ganar</td>
                        </tr>
                      </thead>
                      <tbody id="rondas">
                        <% @torneo.rondas.order(:numero).each do |ronda| %>
                          <tr>
                            <td><%=ronda.numero%></td>
                            <td><%=ronda.inicio_fecha.strftime("%d/%m/%Y")  %></td>
                            <td><%=ronda.inicio_tiempo.strftime("%I:%M %p")  %></td>
                            <td>Mejor de <%=ronda.modo_ganar%></td></tr>
                        <% end %>
                      </tbody>
                    </table>
                   </div>
                   <div class="field">
               
                <script type="text/javascript">                  
                  $( "#tipo_generacion" ).buttonset();
                </script>

              </div>

            </div>
        </div>
    </div>
  </div>