          <script type="text/javascript">

            var minimalData = {
            teams : [
              <% contador=0 %>
              <%   cantidad_inscripciones=@torneo_view.torneo_detallado.inscripcions.limit(@torneo_view.torneo_detallado.vacantes).count %>
              <%   @torneo_view.torneo_detallado.inscripcions.order(:posicion_inicial).limit(@torneo_view.torneo_detallado.vacantes).each do |inscripcion| %>
                <% if contador == 0 then %>                
                  ["<%= inscripcion.peso_participacion %>-<%= inscripcion.gamer.nick %>"  
                <% else %>  
                  "<%= inscripcion.peso_participacion %>-<%= inscripcion.gamer.nick %>" 
                <% end if %>
                
                <% if contador % 2 != 0 && contador!=cantidad_inscripciones then %>              
                  ,              
                <% elsif contador % 2 == 0 && cantidad_inscripciones != contador then %>              
                  ],[ 
                <% else  %>  
                  ]
                <% end if %>
                <% contador=contador+1 %>
              <% end %>
            ]
            }
          $(function() {
            $('#llaves').bracket({
            init: minimalData })
          })
          </script>

<div class="container">
  <div class="row">
    <%   if cantidad_inscripciones <= 8 then %>
      <div class="tile" style="height: 540px;">
    <%   elsif cantidad_inscripciones <= 16 then %>
      <div class="tile" style="height: 800px;">
    <%   elsif cantidad_inscripciones <= 32 then %>
      <div class="tile" style="height: 1200px;">
    <%   else %>
      <div class="tile" style="height: 256px;">
    <% end %>    
            <h3 class="text-center"><u>Prepara tu torneo antes de iniciar</u></h1>
            <h3 class="text-center"><%= @torneo_view.torneo_detallado.titulo %></h2>
            <h4 class="text-center"><%= @torneo_view.torneo_detallado.paginaweb %></h4>
            <center>
              <a href="/torneos/<%=@torneo_view.torneo_detallado.id%>"><font color="#FFFFFF">Ver detalle del detalle del torneo</font></a>
            </center>
            <br/>
            <%= form_for @torneo_view.torneo_detallado do |f|   %>
             <input id="torneo_estado" type="hidden" name="torneo[estado]" value="Iniciado" />
            <center>
              <a href="/torneos/preparar/<%=@torneo_view.torneo_detallado.id%>"><font color="#FFFFFF">Volver a generar</font></a>       
                <br/>
                  <div id="boton_generar">
                    <center><%= f.submit "Iniciar Torneo!!!"%></center>
                  </div>
            </center>
             <% end %>
          <div id="llaves" class="table-responsive" ></div>       
      </div>      
  </div>  
</div>  
  <script type="text/javascript">
    $( "#boton_generar" ).buttonset();
  </script>