<%= form_for(@hots_formulario) do |f| %>
  <% if @hots_formulario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hots_formulario.errors.count, "error") %> prohibited this hots_formulario from being saved:</h2>

      <ul>
      <% @hots_formulario.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :inscripcion_id %><br>
    <%= f.number_field :inscripcion_id %>
  </div>
  <div class="field">
    <%= f.label :nombre_equipo %><br>
    <%= f.text_field :nombre_equipo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
