<article class="Detalle_torneo">
  <br/>
  <label class ="MostrarTorneo_datos" id="torneo_titulo"><b>Battle tag del capitan:</b> <%=inscripcion.hots_formulario.capitan_nick%></label>
  </br>

  <label class ="MostrarTorneo_datos" id="cuadro_de_juegos"><b>Battle tag Titular 1:</b> <%=inscripcion.hots_formulario.titular_numero1%><br/>
  </label>

  <label class ="MostrarTorneo_datos" id="cuadro_de_vacantes"><b>Battle tag Titular 2: </b><%=inscripcion.hots_formulario.titular_numero2%></label>
  <br>
 
 <label class ="MostrarTorneo_datos" id="cuadro_de_vacantes"><b>Battle tag Titular 3: </b><%=inscripcion.hots_formulario.titular_numero3%></label>
  <br>
   <label class ="MostrarTorneo_datos" id="cuadro_de_vacantes"><b>Battle tag Titular 4: </b><%=inscripcion.hots_formulario.titular_numero4%></label>
  <br>
   <label class ="MostrarTorneo_datos" id="cuadro_de_vacantes"><b>Battle tag suplente 1(Opcional): </b><%=inscripcion.hots_formulario.suplente_numero1%></label>
  <br>
     <label class ="MostrarTorneo_datos" id="cuadro_de_vacantes"><b>Battle tag suplente 2(Opcional): </b><%=inscripcion.hots_formulario.suplente_numero2%></label>
  <br>
</article>