<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @prueba.titulo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @prueba.descripcion %>
</p>

<p>
  <strong>Formato:</strong>
  <%= @prueba.formato %>
</p>

<p>
  <strong>Modalidad:</strong>
  <%= @prueba.modalidad %>
</p>

<p>
  <strong>Juego:</strong>
  <%= @prueba.juego_id %>
</p>

<p>
  <strong>Modalidad reporte victoria:</strong>
  <%= @prueba.modalidad_reporte_victoria %>
</p>

<p>
  <strong>Vacantes:</strong>
  <%= @prueba.vacantes %>
</p>

<p>
  <strong>Cierre inscripcion fecha:</strong>
  <%= @prueba.cierre_inscripcion_fecha %>
</p>

<p>
  <strong>Cierre inscripcion tiempo:</strong>
  <%= @prueba.cierre_inscripcion_tiempo %>
</p>

<p>
  <strong>Cierre check in fecha:</strong>
  <%= @prueba.cierre_check_in_fecha %>
</p>

<p>
  <strong>Cierre check in tiempo:</strong>
  <%= @prueba.cierre_check_in_tiempo %>
</p>

<p>
  <strong>Inicio torneo fecha:</strong>
  <%= @prueba.inicio_torneo_fecha %>
</p>

<p>
  <strong>Inicio torneo tiempo:</strong>
  <%= @prueba.inicio_torneo_tiempo %>
</p>

<%= link_to 'Edit', edit_prueba_path(@prueba) %> |
<%= link_to 'Back', pruebas_path %>
