 <input type="hidden" id="id_inscripcion_contrincante" value="<%=@current_gamer.contrincante_inscrito_actual(torneo).id%>" />
	<table>
	<tr>
		<td><h1><%=@current_gamer.etiqueta_llave(torneo)%></h1></td>
		<td>vs</td>
		<td><h1><%=@current_gamer.contrincante_inscrito_actual(torneo).etiqueta_llave%></h1></td>
	</tr>
	<tr>
		<td><%=@current_gamer.encuentro_actual(torneo).puntaje_de_inscrito(@current_gamer.inscripcion_en_torneo(torneo))%></td>
		<td></td>
		<td><%=@current_gamer.encuentro_actual(torneo).puntaje_de_inscrito(@current_gamer.contrincante_inscrito_actual(torneo))%></td>
	</tr>	
</table>
<br/>
<input type="hidden" id="id_partida_actual" value="<%=@current_gamer.encuentro_actual(torneo).partida_actual.id%>">
<table >
	<tr >
		<td colspan="3">Partida N&uacute;mero: <%=@current_gamer.encuentro_actual(torneo).partidas.size %> </td>
	</tr>	
	<tr>
		<td><button id="boton_gane">Yo gan&eacute; :)</button><span id="label_gane" style="display:none">Gane!!!</span></td>
		<td><span id="mensaje_gane"></span> <b class="contador" id='countdown_partida_ganada'></b></td>
		<td><button id="boton_perdi">El gan&oacute; :(</button></td>
	</tr>	
</table>
<br/>