                <span id="mensajeError"></span>

                  <%= form_for(@encuentro) do |f| %>

                    <% if @encuentro.errors.any? %>
                      <div id="error_explanation">
                        <h2><%= pluralize(@encuentro.errors.count, "error") %> prohibited this encuentro from being saved:</h2>

                        <ul>
                        <% @encuentro.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                        <% end %>
                        </ul>
                      </div>
                    <% end %>

                      <h4 class="text-center1"><%=@encuentro.gamerinscritoa.gamer.nick%> vs <%=@encuentro.gamerinscritob.gamer.nick%></h4>
                        <h4 class="text-center">Ganador:</h4>
                        <select id='encuentro_inscrito_ganador_id' name='encuentro_inscrito_ganador_id' class='string required form-control input-lg' >
                          <option value='<%=@encuentro.gamerinscritoa.id%>'><%=@encuentro.gamerinscritoa.gamer.nick%></option>
                          <option value='<%=@encuentro.gamerinscritob.id%>'><%=@encuentro.gamerinscritob.gamer.nick%></option>
                        </select>
                      </h4>
                      <center> <%= f.submit "Actualizar" %></center>
                  <% end %>