<%= form_for(@encuentro) do |f| %>
  <% if @encuentro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@encuentro.errors.count, "error") %> prohibited this encuentro from being saved:</h2>

      <ul>
      <% @encuentro.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :gamera_id %><br>
    <%= f.number_field :gamera_id %>
  </div>
  <div class="field">
    <%= f.label :gamerb_id %><br>
    <%= f.number_field :gamerb_id %>
  </div>
  <div class="field">
    <%= f.label :posicion_en_ronda %><br>
    <%= f.number_field :posicion_en_ronda %>
  </div>
  <div class="field">
    <%= f.label :id_ronda %><br>
    <%= f.number_field :id_ronda %>
  </div>
  <div class="field">
    <%= f.label :flag_ganador %><br>
    <%= f.text_field :flag_ganador %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_field :descripcion %>
  </div>
  <div class="field">
    <%= f.label :encuentro_anterior_a_id %><br>
    <%= f.number_field :encuentro_anterior_a_id %>
  </div>
  <div class="field">
    <%= f.label :encuentro_anterior_b_id %><br>
    <%= f.text_field :encuentro_anterior_b_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
