<p id="notice"><%= notice %></p>

<p>
  <strong>Gamera:</strong>
  <%= @encuentro.gamera_id %>
</p>

<p>
  <strong>Gamerb:</strong>
  <%= @encuentro.gamerb_id %>
</p>

<p>
  <strong>Posicion en ronda:</strong>
  <%= @encuentro.posicion_en_ronda %>
</p>

<p>
  <strong>Id ronda:</strong>
  <%= @encuentro.id_ronda %>
</p>

<p>
  <strong>Flag ganador:</strong>
  <%= @encuentro.flag_ganador %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @encuentro.descripcion %>
</p>

<p>
  <strong>Encuentro anterior a:</strong>
  <%= @encuentro.encuentro_anterior_a_id %>
</p>

<p>
  <strong>Encuentro anterior b:</strong>
  <%= @encuentro.encuentro_anterior_b_id %>
</p>

<%= link_to 'Edit', edit_encuentro_path(@encuentro) %> |
<%= link_to 'Back', encuentros_path %>
