<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8"/>
  <meta property="og:description" content="Simplificando la inscripción y organización de torneos e-sports en línea" />
  <meta name="viewport" content="width = device-width, initial-scale=1, maximum-scale=1"/>
  <title>GG E-sports</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= stylesheet_link_tag "jquery-ui", media: "all" %>
  <%= stylesheet_link_tag "jquery.bracket.min", media: "all" %>
  <%= javascript_include_tag "application" %>
  <script src="/assets/websocket_rails/websocket_rails.js?body=1"></script>
  <script src="/assets/websocket_rails/event.js?body=1"></script>
  <script src="/assets/websocket_rails/abstract_connection.js?body=1"></script>
  <script src="/assets/websocket_rails/http_connection.js?body=1"></script>
  <script src="/assets/websocket_rails/websocket_connection.js?body=1"></script>
  <script src="/assets/websocket_rails/channel.js?body=1"></script>
  <script src="/assets/websocket_rails/main.js?body=1"></script>
</head>
<body >
<div id="fb-root"></div>
<script>
  function goBack() {
    window.history.back()
  }  

  var contador = 1;
 
  function main(){
    $('#menu-icon').click(function(){
      if(contador == 1){
        $('nav').animate({
          left: '0'
        });
        contador = 0;
      } else {
        contador = 1;
        $('nav').animate({
          left: '-100%'
        });
      }
   
    });
   
  };
</script>
<% if ENV["RAILS_ENV"] == 'production' %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-58101208-1', 'auto');
  ga('send', 'pageview');
</script>
<% end %>
<header >
  <a id="menu-icon" href="#"></a>
  <a href="/">
    <img class="logo" src="<%= image_path("logo.png") %>" alt="GG E-sports"/>
  </a>  
     <nav role="navigation">
      <ul><!--Lista de navegación-->
        <!-- <li><a id="link_cabecera_registrar_torneo" href="/torneos/new">Organizar un torneo</a></li> -->
        <li><a id="link_mis_torneos" href="/torneos/mis_torneos">Mis torneos</a></li>
        <% if @current_gamer == nil %>
          <li class="opcion_facebook"><a id="autenticarse" href="/auth/facebook" > 
               <button class="btnFacebook" type="button">Ingrese con Facebook</button>
            </a> 
          </li> 
        <% else %>
        <li>
          <img class="Lista_Inscritos_item_UsFb" src="<%= current_gamer.authentications[0].icono %>" height='35px' width='35px'>
          <b class="WelcomeUSer"> Bienvenid@: <%=@current_gamer.nombres%></b>
        </li>
        <li>  
          <a id="link_cerrar_sesion" href="/cerrar_sesion">Cerrar Sesi&oacute;n</a>
        </li>  
        <% end %>
        </ul>
      </nav>
</header>
<%= yield %>

 <footer>
  <br/>
  <center><b>Cualquier problema o bug, favor de contactarnos en las redes sociales</b></center><br>
    <section class="Enlaces">
           <article >
            <a href="https://www.facebook.com/ggesports.la" target="_blank"><img class="Enlace" src="<%= image_path("facebook.png") %>"></a>
          </article>
          <article >
            <a href="https://twitter.com/ggesports_la" target="_blank"><img class="Enlace" src="<%= image_path("twitter.png") %>"></a>
          </article>
          <article>
            <a href="https://plus.google.com/u/2/108251440519764928381/about?hl=es-419" target="_blank"><img class="Enlace" src="<%= image_path("google-plus.png") %>"></a>
          </article>      
</section>
</footer>
</body>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</html>
