<!doctype html>
7<html>
  <head>
    <meta charset="utf-8">
    <title>GG-Sports</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag "bootstrap.css", media: "all" %>    
    <% if request.env['PATH_INFO'].index('/torneos/') %>     
      <%= javascript_include_tag "jquery.js" %>
      <%= javascript_include_tag "jquery_ujs.js" %>    
      <%= javascript_include_tag "jquery-ui.js" %>
      <%= javascript_include_tag "jquery.bracket.min.js" %>
      <%= javascript_include_tag "jquery.countdown.js" %>
      <%= javascript_include_tag "jquery.ui.timepicker.js" %> 
      <%= javascript_include_tag "chat.js" %>

      <script src="/assets/websocket_rails/websocket_rails.js?body=1"></script>
      <script src="/assets/websocket_rails/event.js?body=1"></script>
      <script src="/assets/websocket_rails/abstract_connection.js?body=1"></script>
      <script src="/assets/websocket_rails/http_connection.js?body=1"></script>
      <script src="/assets/websocket_rails/websocket_connection.js?body=1"></script>
      <script src="/assets/websocket_rails/channel.js?body=1"></script>
      <script src="/assets/websocket_rails/main.js?body=1"></script>

    <% end %> 
  </head>

  <body ng-app="ggesportsWebApp">  
    <!-- Add your site or application content here -->
    <div class="header">
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">GG-esports</a>
          </div>
          <div class="collapse navbar-collapse" id="js-navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a ng-href="#/about">Quienes somos</a></li>
              <li>
                <div id="status" style="padding-right: 5px;padding-botton: 15px;padding-top: 15px;">
                </div>
              </li>
              <li>
                <fb:login-button scope="public_profile,email" onlogin="checkLoginState();" autologoutlink="true" style="padding-botton: 15px;padding-top: 15px;">
                </fb:login-button>
              </li>
              <% if !@current_gamer.nil? %>
              <li>
                <a id="link_cerrar_sesion" href="/cerrar_sesion">Cerrar Sesi&oacute;n</a>
              </li>
              <%  end %>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">

      <%= yield %>
      
    </div>

    <div class="footer">
      <div class="container">
        <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
      </div>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>
</body>
</html>

