<!DOCTYPE html>
<html lang="es" ng-app="torneoApp">
<head>
  <meta charset="utf-8"/>
  <meta property="og:description" content="Simplificando la inscripción y organización de torneos e-sports en línea" />
  <%= stylesheet_link_tag "application", media: "all" %>
  <meta name="viewport" content="width = device-width, initial-scale=1, maximum-scale=1"/>
  <title>GG-Sports</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600italic,600,400italic,300italic,700italic' rel='stylesheet' type='text/css'/>
  <%= javascript_include_tag "jquery.js" %>
  <%= stylesheet_link_tag "jquery.bracket.min", media: "all" %>
   <%= javascript_include_tag "jquery.bracket.min.js" %>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
  <%= javascript_include_tag "torneo.js" %>
</head>  
<body id="landings" class="loaded">
  <script>

    var contador = 1;
   
    function main(){
      $('#menu-icon').click(function(){
        if(contador == 1){
          $('nav').animate({
            left: '0'
          });
          contador = 0;
        } else {
          contador = 1;
          $('nav').animate({
            left: '-100%'
          });
        }
     
      });
     
    };
    $(document).ready(main);
  </script>

  <header>
  <a id="menu-icon" href="#"></a>
  <a href="/"><img class="logo" src="<%= image_path("logo2.png") %>" alt="GG E-sports"/></a>
  <nav role="navigation">
      <ul>
        <% if @current_gamer == nil %>
          <li class="opcion_facebook"><a id="autenticarse" href="/auth/facebook" > 
               <button class="btnFacebook" type="button">Ingrese con Facebook</button>
            </a> 
          </li> 
        <% else %>
        <li>
          <img class="Lista_Inscritos_item_UsFb" src="<%= current_gamer.authentications[0].icono %>" height='35px' width='35px'>
          <b class="WelcomeUSer"> Bienvenid@: <%=@current_gamer.nombres%></b>
        </li>
        <li>  
          <a id="link_cerrar_sesion" href="/cerrar_sesion">Cerrar Sesi&oacute;n</a>
        </li>  
        <% end %>
        </ul>
      </nav>
</header>
<%= yield %>
</body>
<footer>  
    <section class="RedesSociales gray">
      <a href="https://www.facebook.com/ggesports.la" target="_blank">
        <img src="<%= image_path("facebook.png") %>" alt="GG E-sports facebook"/>
      </a>
      <a href="https://www.twitter.com/ggesports.la" target="_blank">
        <img src="<%= image_path("twitter.png") %>" alt="GG E-sports twitter"/>
      </a>
   </section> 
     <h2>Copyright © 2015 - Todos los derechos reservados - Lima Perú</h2> 
</footer>
</html>


