<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width = device-width, initial-scale=1, maximum-scale=1"/>
  <title>Satel</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "jquery-ui", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "jquery.bracket.min", media: "all", "data-turbolinks-track" => true %>
  
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script src="/assets/jquery-ui.js"></script>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="/assets/jquery.bracket.min.js"></script>  
  <script type="text/javascript" src="/assets/jquery.sheepItPlugin.js"></script>
</head>
<body>
        <div id="fb-root"></div>
        <script>
          (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&appId=686458234757061&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));
        </script>
        <script>
          function goBack() {
              window.history.back()
          }
        </script>
<header>
  <a href="/">
    <img class="logo" src="<%= image_path("logo.png") %>" alt="Satel"/>
  </a>  
     <nav>
      <ul><!--Lista de navegación-->
        <li><a id="link_cabecera_registrar_torneo" href="/torneos/new">Organizar un torneo</a></li>
        <li><a id="link_mis_torneos" href="/torneos/mis_torneos">Mis torneos</a></li>
        </ul>
      </nav>

<% if @current_gamer == nil %>
        <% if ENV["RAILS_ENV"] == 'test'%>
          <a id="autenticarse" href="/auth/developer" > 
             <button class="btnFacebook" type="button">Ingrese con Facebook</button>
          </a>    
        <% else %>
          <a id="autenticarse" href="/auth/facebook" > 
             <button class="btnFacebook" type="button">Ingrese con Facebook</button>
          </a> 
        <% end %>
    <% else %>

   <b class="WelcomeUSer"> Bienvenid@: <%=@current_gamer.nombres%></b> 
    <a  id="link_cerrar_sesion" href="/cerrar_sesion" > 
       <button class="btnFacebookC" type="button">Cerrar Sesi&oacute;n</button>
    </a>
    <% end %>
</header>
<%= yield %>
 <footer>
      <p>Siguenos o contactanos a traves de:</p><br>
    <section class="Enlaces">
  
           <article >
            <img class="Enlace" src="<%= image_path("google-plus.png") %>">
          </article>

          <article >
            <img class="Enlace" src="<%= image_path("twitter.png") %>">
          </article>

          <article>
          <img class="Enlace" src="<%= image_path("facebook.png") %>">
          </article>

         <article>
        
          </article>
</section>

</footer>
</body>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</html>
