<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8"/>
  <meta property="og:description" content="Simplificando la inscripción y organización de torneos e-sports en línea" />
  <%= stylesheet_link_tag "application", media: "all" %>
  <meta name="viewport" content="width = device-width, initial-scale=1, maximum-scale=1"/>
  <title>GG-Sports</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600italic,600,400italic,300italic,700italic' rel='stylesheet' type='text/css'/>
</head>  
<body>   
<%= yield %>
</body>
<footer>
   <img class="logof" src="<%= image_path("logo.png") %>" alt="GG E-sports"/>
      <nav>
      <ul><!--Lista de navegación-->
        <li><a href="#">Menu</a></li>
        <li><a href="#">Menu</a></li>
        <li><a href="#">Menu</a></li>
        <li><a href="#">Menu</a></li>
        <li><a href="#">Menu</a></li>
      </ul>
      </nav>
    <section class="RedesSociales">
      <a href="https://www.facebook.com/ggesports.la" target="_blank">
      <img class="logo" src="<%= image_path("twitter.png") %>" alt="GG E-sports twitter"/>
      </a>
      <a href="https://www.facebook.com/ggesports.la" target="_blank">
      <img class="logo" src="<%= image_path("facebook.png") %>" alt="GG E-sports facebook"/>
      </a>
   </section> 
     <h2>Copyright © 2015 - Todos los derechos reservados - Lima Perú</h2> 
</footer>
</html>
